<div id="vente" class="vente">

    <style type="text/css" media="print">
        @page {
            size: landscape;
        }
    </style>

    <my-header *ngIf="!print" [title]='"Produits Vente"' [img]="'image/menu/produits_grand_gris.png'"></my-header>


    <div class=" container-fluid">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <h3>Fiche produit vente</h3>

        <form name="form" (ngSubmit)="f.form.valid && modifyProduct()" #f="ngForm">
            <!-- infos generales sur produit -->
            <article class="col-sm-4">

                <div style="height: 10%; width: 100%;">
                    <img *ngIf="url" [src]="url" alt="..." class="img-thumbnail col-sm-12"/>
                    <img *ngIf="!url && product.image"
                         src="http://{{loc}}:4000/image/produit/{{product.id_prc}}/{{product.image}}" alt="..."
                         class="img-thumbnail col-sm-12"/>
                    <img *ngIf="!url && !product.image" src="image/test.ico" alt="..." class="img-thumbnail images"/>
                    <input type="file" ng2FileSelect [uploader]="uploaderImg" (change)="readUrl($event)"/>
                </div>


                <div class="form-group">
                    <label class="col-sm-5 control-label">Libellé : </label>
                    <div>
                        <textarea name="libelle" [(ngModel)]="updateProduct.libelle" class="col-sm-7"
                                  rows="3"></textarea>
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label class="gras col-sm-5" style="padding-left: 0;">Référence : </label><span class="col-sm-7">{{updateProduct.id_prc}}</span>
                </div>

                <div class="form-group col-sm-12">
                    <label class="col-sm-5 control-label">Catégorie : </label>
                    <select name="categorie" class="col-sm-7" [(ngModel)]="updateProduct.categorie" #categorie="ngModel"
                            required>
                        <option *ngFor="let cat of categories" [value]="cat.libelle">{{cat.libelle}}</option>
                    </select>
                </div>


                <div class="form-group col-sm-12">
                    <label class="col-sm-5 control-label">* Unité :</label>
                    <select name="unitee" class="col-sm-7" [(ngModel)]="updateProduct.unite" #unite="ngModel" required>
                        <option *ngFor="let unis of unites" [value]="unis.libelle">{{unis.libelle}}</option>
                    </select>
                </div>


                <div class="form-group">
                    <label class="col-sm-5 control-label">Prix achat : </label>
                    <div>
                        <input type="number" step="0.01"

                               [(ngModel)]="updateProduct.prix_achat"
                               value="{{getTotalPrixAchat()}}"
                               (ngModelChange)="calcpercent(updateProduct)"
                               name="prix_achatht"
                               class="col-sm-7"
                               disabled/><!--variable pour value-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">* Marge (€): </label>
                    <div>
                        <input type="number" step="0.01"
                               name="marge"
                               [(ngModel)]="updateProduct.marge"
                               (ngModelChange)="calcpercent(updateProduct)"
                               class="col-sm-7"
                               required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">* Marge (en %) : </label>
                    <div>
                        <input type="number" step="0.01"
                               name="margepc"
                               [(ngModel)]="updateProduct.margepc"
                               (change)="verifymarge(updateProduct)"
                               (ngModelChange)="calcvalue(updateProduct)"
                               class="col-sm-7"
                               required/><!--variable pour value-->
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-5 control-label">* Marge minimale : </label>
                    <div>
                        <input type="number" step="0.01"
                               name="margemin"
                               [(ngModel)]="updateProduct.margemin"
                               (change)="verifymarge(updateProduct)"
                               class="col-sm-7"
                               disabled
                               required/><!--variable pour value-->
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-5 control-label">Prix de vente H.T. : </label>
                    <div>
                        <input type="number" step="0.01" name="prixht"
                               value="{{getTotalPrixVente()}}"
                               class="col-sm-7"
                               [(ngModel)]="updateProduct.prix_vente"
                               disabled/><!--variable pour value-->
                    </div>
                </div>

                <label *ngIf="!print" class="col-sm-5">Ajouter dans GED:</label>
                <input *ngIf="!print" type="file" name="GED" class="col-sm-7">

            </article>

            <!-- description -->
            <article class="col-sm-7 gauche">

                <div class="form-group col-sm-12 justif" style="margin-top: 10px;">
                    <span style="font-weight: bold;">Description:</span>
                </div>
                <div class="form-group" style="margin-top: 10px;">
                    <textarea *ngIf="!print" name="description" class="form-control" rows="3"
                              [(ngModel)]="updateProduct.description">

                    </textarea>
                </div>

            </article>

            <!-- notes -->
            <article class="col-sm-7 gauche">

                <div class="form-group col-sm-12 justif">
                    <span style="font-weight: bold;">Note: </span>
                    <!--variable à l'intérieur du second span-->
                </div>
                <div class="form-group" style="margin-top: 10px;">
                    <textarea *ngIf="!print" type="text" name="note" class="form-control" rows="3"
                              [(ngModel)]="updateProduct.note"></textarea>
                </div>

            </article>

            <!-- historique des modifs -->
            <div class="col-sm-7 gauche">
                <!--les variable du tableau sont à récupérer dans la BDD-->
                <h5>Historique :</h5>
                <div class="table table-responsive" style="height: 190px;">
                    <table class="table  ">
                        <thead>
                        <tr>
                            <th>Numéro de version :</th>
                            <th>Date :</th>
                            <th>Auteur</th>
                            <th>Prix de vente :</th>
                            <th>Voir :</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let h of historique">

                            <td>{{h.num_version}}</td>
                            <td>{{h.date_ajout | date: 'dd/MM/yyyy'}}</td>
                            <td>{{h.firstname +" "+ h.lastname}}</td>
                            <td>{{h.prix_vente | currency:'EUR':true:'1.2-2' }}</td>
                            <td *ngIf="h.num_version != num_version">
                                <a [routerLink]="['/produitvente/' + h.id_prc + '/' + h.num_version]">
                                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                                </a>
                            </td>
                            <td *ngIf="h.num_version == num_version">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <!-- les prods composes -->
            <div class="col-sm-12">
                <h5>Produit composé :</h5>

                <div class="table table-responsive" style="min-height: 150px">
                    <table class="table  ">
                        <thead>
                        <tr>
                            <th class="col-sm-5">Libellé:</th>
                            <th class="col-sm-1">Fournisseur:</th>

                            <th class="col-sm-1">Unité:</th>
                            <th class="col-sm-1">Prix d'achat:</th>
                            <th class="col-sm-1">Qté</th>
                            <th class="col-sm-1">Prix H.T.:</th>
                            <th class="col-sm-1">Action</th>

                        </tr>

                        </thead>
                        <tbody>
                        <tr *ngIf="allProducts">
                            <td><input ng2-auto-complete
                                       #prod
                                       name="produit"
                                       [source]="allProducts"
                                       [(ngModel)]="newProduct.libelle"
                                       [list-formatter]="autocompleListFormatterProducts"
                                       value-property-name="libelle"
                                       display-property-name="libelle"
                                       placeholder="Produit"
                                       class="col-sm-12"
                                       (ngModelChange)="chooseProductByLibelle()"
                                       autocomplete="off">
                                <a *ngIf="newProduct.libelle"
                                   [routerLink]="['/produitachat/' + newProduct.id_produit + '/' + newProduct.num_version]"
                                   target="_blank">Voir</a>
                            </td>

                            <td><span>{{newProduct.raison_sociale ? newProduct.raison_sociale : newProduct.nom}}</span></td>
                            <td><span>{{newProduct.unite}}</span></td>
                            <td><span>{{newProduct.prix_achat}}</span></td>

                            <td><input type="number" step="0.01" name="qte" [(ngModel)]="newProduct.quantite"
                                       (ngModelChange)="calcvalue(updateProduct)"/></td>

                            <td><span>{{calctotalprod(newProduct) | currency:'EUR':true:'1.2-2'}}</span></td>

                            <td>
                                <button type="button" class="btn right" (click)="addProduct()"
                                        [disabled]="!newProduct.quantite || !newProduct.libelle">Ajouter
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7"></td>
                        </tr>


                        <tr *ngFor="let product of products">

                            <td>
                                <span class="col-sm-12">
                                    <a *ngIf="product.libelle"
                                       [routerLink]="['/produitachat/' + product.id_produit + '/' + product.num_version]"
                                       target="_blank">{{product.libelle}}</a>
                                </span>
                            </td>

                            <td><span>{{product.raison_sociale ? product.raison_sociale : product.nom}}</span></td>
                            <td><span>{{product.unite}}</span></td>
                            <td><span>{{product.prix_achat}}</span></td>
                            <td><span>{{product.quantite}}</span></td>
                            <td><span>{{calctotalprod(product) | currency:'EUR':true:'1.2-2'}}</span></td>
                            <td>
                                <a class=" col-sm-offset-1"
                                   (click)="supprimer(product)">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"
                                          style="color: #0f0f0f"></span>
                                </a>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>


            <div class="col-sm-12">
                <h5>Main d'oeuvre</h5>

                <div class="table table-responsive" style="min-height: 190px">
                    <table class="table  ">
                        <thead>
                        <tr>
                            <th class="col-sm-3">Désignation</th>
                            <th class="col-sm-1">Heure chargé :</th>
                            <th class="col-sm-1">Durée:</th>
                            <th class="col-sm-1">Prix H.T. :</th>
                            <th class="col-sm-1">Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input ng2-auto-complete
                                       #mo
                                       name="mo"
                                       [source]="allMainOeuvres"
                                       [(ngModel)]="newMainOeuvre.libelle"
                                       (ngModelChange)="newMainOeuvre.libelle"
                                       [list-formatter]="autocompleListFormatterMo"
                                       value-property-name="libelle"
                                       display-property-name="libelle"
                                       placeholder="Main d'oeuvre"
                                       class="col-sm-12"
                                       (ngModelChange)="chooseMainOeuvreLibelle( 0)"
                                       autocomplete="off"></td>

                            <td><span>{{newMainOeuvre.salaire_charge}}</span></td>
                            <td><input type="time" name="qte" [(ngModel)]="newMainOeuvre.quantite"/></td>
                            <td><span>{{calctotal(newMainOeuvre)| currency:'EUR':true:'1.2-2'}}</span></td>
                            <td>
                                <button type="button" class="btn right" (click)="addMO()"
                                        [disabled]="!newMainOeuvre.quantite || !newMainOeuvre.libelle">Ajouter
                                </button>
                            </td>
                        </tr>


                        <tr *ngFor="let mainOeuvre of mainOeuvres">

                            <td><span class="col-sm-12">{{mainOeuvre.libelle}}</span></td>
                            <td><span>{{mainOeuvre.salaire_charge}}</span></td>
                            <td><span>{{mainOeuvre.quantite}}</span></td>
                            <td><span>{{calctotal(mainOeuvre)| currency:'EUR':true:'1.2-2'}}</span></td>

                            <td>
                                <a class=" col-sm-offset-1"
                                   (click)="supprimermainoeuvre(mainOeuvre)">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"
                                          style="color: #0f0f0f"></span>
                                </a>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>

            <button *ngIf="!print" type="submit" [disabled]="loading" class="col-sm-offset-11"
                    (click)="modifyProduct()">Modifier
            </button>

        </form>

        <div class="col-sm-12 bas">
            <form method="POST" action="#" class="col-sm-2 col-sm-offset-4">
                <input *ngIf="!print" type="hidden" name="identifiant du produit">
                <button class="col-sm-offset-6 col-sm-5 btn" style="margin-top: -35px;" type="button" *ngIf="!print"
                        (click)=" imprimer()">Imprimer
                </button>
            </form>
        </div>


    </div><!--fin container-fluid-->
</div><!--fin id vente-->