<div id="devis" style="border:none;-webkit-print-color-adjust: exact;background-color:white;" >


    <my-header *ngIf="!print" [title]='"Devis"' [img]='"image/menu/gestion_grand_gris.png"'></my-header>


    <body style="margin:0px;font-size: 18px;background-color:white;">
    <div *ngIf="!print" class=" col-sm-offset-6" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
        <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
    </div>
    <button class="col-sm-offset-8 col-sm-1 btn" type="button"  *ngIf="!print && droitsuser.accesdev" (click)=" imprimer()">Imprimer </button>



    <div class=" container-fluid "  id="pageContent" style="z-index:10; ">

        <div class="row marge" style="top:100px;position:absolute;">
            <img *ngIf="!print" [src]="config.logoPath"  style="height: auto;width: 300px;">
        </div>
        <div *ngIf="uploaderImg"  style="text-align: center;margin-left:10%; heigh:auto; position: relative;">
            <div *ngIf="print">
                <img *ngIf="url" [src]="url" alt="..." class="col-sm-4"/>
                <img *ngIf="!url && img.image" style="height: auto; width: 200px;top:10px;position:fixed;left:50px;"
                     src="http://{{loc}}:4000/image/agence/{{img.id_agence}}/{{img.image}}" alt="..."
                     class="img-responsive col-sm-12"/>

            </div>
        </div>

        <div *ngIf="uploaderFili"  style="text-align: center; top:00px; position: fixed;">
            <div *ngIf="print">
                <img *ngIf="url" [src]="url" alt="..." class="img-responsive col-sm-12"/>
                <img *ngIf="!url && fili.fiigrane" style="height: 150px; width: 300px;"
                     src="http://{{loc}}:4000/image/filig/{{fili.id_agence}}/{{fili.filigrane}}" alt="..."
                     class="img-responsive col-sm-12"/>

            </div>
        </div>


        <div  style="margin-left: 50%;border:1px solid black;width: 350px;text-align: center;margin-top:150px;">
            <div class="form-group " style="font-weight: bold;padding-left:20px;padding-top:10px;">
                <span>{{devis.raison_sociale ? devis.raison_sociale : devis.nom +" " +devis.prenom}}</span>
            </div>


            <div class="form-group" *ngIf="address" >
                <span class=" glyphicon glyphicon-alert red"></span><span class="col-sm-9">Aucune adresse pré-enregistrée pour ce client</span>
            </div>
            <div  class="form-group ">


                <div   class="form-group" >
                    <span style="padding-left:20px;">{{devis.adresse}}</span>
                </div>
                <div style="padding-left:20px;" class="form-group" >
                    <span style="text-align: center;">{{devis.code_postal}} - {{devis.ville}}</span>
                </div>
            </div>




        </div>


        <div class="form-group" style="margin-top: 20px; margin-left:45%;">
            <span>A {{fact.ville_a}},</span><span> le {{devis.date_version | date:'dd-MM-yyyy'}}</span>
        </div>

        <div class="col-sm-5" style="margin:0px;font-size:18px; width: 450px; ">
            <div class="form-group" >
                <label class="col-sm-4" style="text-decoration: underline;">Devis n° :</label>
                <span> {{id}} </span>
            </div>
            <div class="form-group" >
                <label class="col-sm-4" style="text-decoration: underline;" >Version :</label>
                <span> {{devis.num_version}} </span>
            </div>

            <div class="form-group" *ngIf="devis.nom_chantier">
                <label class="col-sm-4" style="text-decoration: underline;">Nom du chantier:</label>
                <span >{{devis.nom_chantier}}</span>
            </div>


        </div>




        <table style="font-size:18px;margin-top: 15px;"width="100%;" >

            <thead style="height: 50px;border:4px solid grey;width: 100%;" >

            <tr style="width: 100%;height: 50px;">
                <th style="border-bottom:1px solid black; border-top:1px solid black;border-left: 1px solid black;text-align: center;width: 1000px; " class="col-sm-4">Désignation</th>
                <th  style="width: 150px;border-bottom:1px solid black;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;" class="col-sm-1">Réf</th>
                <th style="width: 50px;border-bottom:1px solid black;border-left: 1px solid black;border-top:1px solid black;border-right: 1px solid black;"class="col-sm-1">Unité</th>
                <th   style="width:50px;border-bottom:1px solid black;border-top:1px solid black;border-right: 1px solid black; " class="col-sm-1">Qte</th>
                <th  style="width: 50px;border-bottom:1px solid black;border-top:1px solid black;border-right: 1px solid black; " class="col-sm-1" >TVA</th>
                <th  style="width: 180px;border-bottom:1px solid black;border-top:1px solid black;border-right: 1px solid black; " class="col-sm-1">P.U. HT</th>
                <th style="width: 180px;border-right: 4px solid grey;border-bottom:1px solid black;border-top:1px solid black;text-align: center;" class="col-sm-1">Total HT €:</th>


            </tr>

            </thead>
            <tbody >

            <ng-container *ngFor="let produit of produitsDevis; let i = index" style="height: 10px;">
                <tr  [ngClass]="(produit.commentaire)?'commentes':'comments'">


                    <td  style="text-align: left;width: 1000px;border-left:1px solid black;padding-left:10px;border-right: 1px solid black;">
                        <div  class="form-group">
                            <span style="font-weight: bold;text-align: center;">{{produit.libelle}}</span><br>

                        </div>
                    </td>


                    <td style="text-align: center;width: 150px;border-right: 1px solid black;">
                        <div class="form-group" >
                            <span >{{produit.id_prc}}</span>
                        </div>
                    </td>
                    <td style="text-align: center;width: 150px;border-right: 1px solid black;">
                        <div class="form-group">
                            <span>{{produit.unite}}</span>
                        </div>
                    </td>
                    <td style="text-align: center;width: 150px;border-right: 1px solid black;">
                        <div class="form-group">
                            {{produitsDevis[i].qte_devis}}
                        </div>
                    </td>
                    <td style="text-align: center;width: 150px;border-right: 1px solid black;">
                        <div class="form-group">
                        {{produitsDevis[i].taux ? produitsDevis[i].taux : produitsDevis[i].tva }}
                        </div>
                    </td>
                    <td style="text-align: center;width: 150px;border-right: 1px solid black;">
                        <div class="form-group">
                            {{produitsDevis[i].prix_devis| currency:'EUR':true:'1.2-2'}}
                        </div>
                    </td>
                    <td  style="width: 280px;text-align: center;border-right:1px solid black;">
                        <div class="form-group">{{produitsDevis[i].qte_devis * produitsDevis[i].prix_devis| currency:'EUR':true:'1.2-2' }}</div>
                    </td>

                </tr>

                <script type="text/javascript">
                    function haut(idt) {
                        if (document.getElementById(idt).scrollTop > 0) aug(idt);
                    }
                    function aug(idt) {
                        var h = parseInt(document.getElementById(idt).style.height);
                        document.getElementById(idt).style.height = h + 10 +"px";
                        haut(idt);
                    }
                    function top(idt) {
                        document.getElementById(idt).scrollTop = 100000;
                        haut(idt);
                    }
                </script>

                <tr [ngClass]="(produit.commentaire)?'comments':'commentes'">
                    <td  style="text-align: left;border-left:1px solid black;padding-left:10px;border-right: 1px solid black;"><textarea name="commentaire"  *ngIf="produit.commentaire" style="width: 500px; height: 250px;border:none;" id="commentaire" onkeyup="javascript: haut(this.id)" onfocus="javascript: top(this.id)">{{produit.commentaire}}</textarea></td>
                    <td style="border-right: 1px solid black;"></td>
                    <td style="border-right: 1px solid black;"></td>
                    <td style="border-right: 1px solid black;"></td>
                    <td style="border-right: 1px solid black;"></td>
                    <td style="border-right: 1px solid black;"></td>
                    <td style="border-right:1px solid black;"></td>
                </tr>



            </ng-container>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table>

            <tr style="height: 10px;border:none;">

                <td style="width: 1200px;"></td>

                <td  style="text-align: left;border-left: 1px solid;border-top:1px solid black;border-bottom:1px solid black;width:450px;" >Total HT :</td>

                <td style="width:180px;border-top:1px solid black;border-right: 1px solid black;border-bottom: 1px solid black;text-align: right;"  >{{countTotal() | currency:'EUR':true:'1.2-2'}}</td>
            </tr>

            <tr *ngIf="produitsDevis.length > 0  && devis.remise"  style="height: 30px;margin-left:90%;">
                <td style="width: 1200px;"></td>
                <td style="width:450px;text-align: left;border-top:1px solid black;border-left: 1px solid black;border-bottom:1px solid black;">Remise {{devis.remise}} %:</td>
                <td style="width:180px;border-top:1px solid black;border-right: 1px solid black;border-bottom: 1px solid black;text-align: right;">{{totalRemiseprod() | currency:'EUR':true:'1.2-2'}}</td>

            <tr *ngIf="((countNTVAZ()>0) )">
                <ng-container >
                    <td style="width: 1200px;"></td>
                    <td  style="width:450px;text-align: left;border-top:1px solid black;border-left: 1px solid black;border-bottom:1px solid black;" >TVA 0 %</td>
                    <td  style="width:180px;border-top:1px solid black;border-right: 1px solid black;border-bottom: 1px solid black;text-align: right;">
                        {{countNTVAZ() | currency:'EUR':true:'1.2-2'}}

                    </td>

                </ng-container>
            </tr>

            <tr *ngIf="((countNTVA()>0) )">
                <ng-container >
                    <td style="width: 1200px;"></td>
                    <td  style="width:450px;text-align: left;border-top:1px solid black;border-left: 1px solid black;border-bottom:1px solid black;" >TVA 2.1 %</td>
                    <td style="width:180px;border-top:1px solid black;border-right: 1px solid black;border-bottom: 1px solid black;text-align: right;" >
                        {{countNTVA() | currency:'EUR':true:'1.2-2'}}

                    </td>

                </ng-container>
            </tr>
            <tr *ngIf="((countNTVAC()>0) )">
                <ng-container >
                    <td style="width: 1200px;"></td>
                    <td  style="width:450px;text-align: left;border-top:1px solid black;border-left: 1px solid black;border-bottom:1px solid black;">TVA 5.5 %</td>
                    <td  style="width:180px;border-top:1px solid black;border-right: 1px solid black;border-bottom: 1px solid black;text-align: right;">
                        {{countNTVAC() | currency:'EUR':true:'1.2-2' }}

                    </td>

                </ng-container>
            </tr>
            <tr *ngIf="((countNTVAD()>0) )">
                <ng-container >
                    <td style="width: 1200px;"></td>
                    <td  style="width:450px;text-align: left;border-top:1px solid black;border-left: 1px solid black;border-bottom:1px solid black;" >TVA 10 %</td>
                    <td  style="width:180px;border-top:1px solid black;border-right: 1px solid black;border-bottom: 1px solid black;text-align: right;" >
                        {{countNTVAD() | currency:'EUR':true:'1.2-2' }}

                    </td>

                </ng-container>
            </tr>
            <tr *ngIf="((countNTVAs()>0) )">
                <ng-container >
                    <td style="width: 1200px;"></td>
                    <td  style="width:450px;text-align: left;border-top:1px solid black;border-left: 1px solid black;border-bottom:1px solid black;" >TVA 20 %</td>
                    <td  style="width:180px;border-top:1px solid black;border-right: 1px solid black;border-bottom: 1px solid black;text-align: right;" >
                        {{countNTVAs() | currency:'EUR':true:'1.2-2' }}

                    </td>

                </ng-container>
            </tr>



            <tr >
                <td style="width: 1200px;"></td>
                <td  style="width:450px;text-align: left;border-top:1px solid black;border-left: 1px solid black;border-bottom:1px solid black;">
                    Total TVA :
                </td>

                <td style="width:180px;border-top:1px solid black;border-right: 1px solid black;border-bottom: 1px solid black;text-align: right;" >{{countAllTVA() | currency:'EUR':true:'1.2-2' }} </td>

            </tr>



            <tr >
                <td style="width: 1200px;"></td>
                <td  style="width:450px;text-align: left;border-top:1px solid black;border-left: 1px solid black;border-bottom:1px solid black;">
                    TTC :
                </td>

                <td style="width:180px;border-top:1px solid black;border-right: 1px solid black;border-bottom: 1px solid black;text-align: right;" >{{countTotalTVA()  | currency:'EUR':true:'1.2-2'}}</td>

            </tr>
        </table>
        <table>
            <p>&nbsp;</p>


            <tr *ngIf="produitDevisOptions.length > 0" style="height:50px;border:4px solid grey;border-top:4px solid grey;text-align: center;"   >
                <th style="border-bottom:1px solid black; border-top:1px solid black;border-left: 1px solid black;text-align: center;width: 1000px; " class="col-sm-4"> Options Désignation</th>
                <th  style="width: 150px;border-bottom:1px solid black;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;" class="col-sm-1">Réf</th>
                <th style="width: 50px;border-bottom:1px solid black;border-left: 1px solid black;border-top:1px solid black;border-right: 1px solid black;"class="col-sm-1">Unité</th>
                <th   style="width:50px;border-bottom:1px solid black;border-top:1px solid black;border-right: 1px solid black; " class="col-sm-1">Qte</th>
                <th  style="width: 180px;border-bottom:1px solid black;border-top:1px solid black;border-right: 1px solid black; " class="col-sm-1">P.U. HT</th>
                <th  style="width: 50px;border-bottom:1px solid black;border-top:1px solid black;border-right: 1px solid black; " class="col-sm-1" >TVA</th>
                <th style="width: 180px;border-right: 4px solid grey;border-bottom:1px solid black;border-top:1px solid black;text-align: center;" class="col-sm-1">Total HT €:</th>



            </tr>

            <ng-container *ngFor="let produit of produitDevisOptions; let i = index">
            <tr   [ngClass]="(produit.commentaire)?'commentes':'comments'">

                <td   style="padding-left:10px;text-align: left;width: 1000px;border-left:1px solid black;">


                    <div class="form-group">
                        <input *ngIf="!print" style="width: 10px;margin-left:0px;" type="checkbox" [(ngModel)]="produitDevisOptions[i].accepted" name="accepted{{i}}" (ngModelChange)="acceptOffer(produitDevisOptions[i])">

                        <span style="font-weight: bold;text-align: center;">{{produit.libelle}}</span><br>
                    </div>
                </td>

                <td style="text-align: center;width: 50px;">
                    <div class="form-group">
                        <span>{{produit.id_prc}}</span>
                    </div>
                </td>
                <td style="text-align: center;width: 50px;">
                    <div class="form-group">
                        <span>{{produit.unite}}</span>
                    </div>
                </td>
                <td style="text-align: center;width: 50px;">
                    <div class="form-group">
                        {{produitDevisOptions[i].qte_devis}}
                    </div>
                </td>
                <td style="text-align: center;width: 50px;">
                    <div class="form-group">
                        {{produitDevisOptions[i].taux ? produitDevisOptions[i].taux : produitDevisOptions[i].tva}}
                    </div>
                </td>
                <td style="text-align: center;width: 280px;">
                    <div class="form-group">
                        {{produitDevisOptions[i].prix_devis | currency:'EUR':true:'1.2-2'}}
                    </div>
                </td>
                <td style="text-align: center;width: 280px;border-right:1px solid black;">
                    <div class="form-group">{{produitDevisOptions[i].qte_devis * produitDevisOptions[i].prix_devis  | currency:'EUR':true:'1.2-2'}}</div>
                </td>

            </tr>

                <tr [ngClass]="(produit.commentaire)?'comments':'commentes'">
                    <td colspan="10"  style="text-align: left;"><textarea name="commentaire"  *ngIf="produit.commentaire" style="width: 500px; height: 250px;border:none;" id="commentaire" onkeyup="javascript: haut(this.id)" onfocus="javascript: top(this.id)">{{produit.commentaire}}</textarea></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-container>
        </table>
        <table>
            <p>&nbsp;</p>

            <tr *ngIf="produitDevisOptions.length> 0"  style="height: 10px;margin-left:90%;">


                <td style="width: 1200px;"></td>
                <td    style="text-align: left;border-left: 1px solid;border-top:1px solid black;border-bottom:1px solid black;width:450px;" >HT :</td>
                <td style="border-top:1px solid black;text-align: right;border-right: 1px solid black;">{{countTotalOptions() | currency:'EUR':true:'1.2-2'}}</td>
                <!--calcul la somme de toutes quantités ajouté au bon de commande-->
            </tr>
            <tr *ngIf="produitDevisOptions.length> 0 && devis.remise" style="height: 30px;margin-left:90%;">
                <td style="width: 1200px;"></td>
                <td    style="text-align: left;border-left: 1px solid;border-top:1px solid black;border-bottom:1px solid black;width:450px;" >Total H.T. après remise {{devis.remise}} %:</td>
                <td style="text-align: right;border-right:1px solid black;border-top: 1px solid black;border-bottom:1px solid black;text-align: right;" >{{countTotalOptionRemise() | currency:'EUR':true:'1.2-2'}}</td>
                <!--calcul la somme de toutes quantités ajouté au bon de commande-->
            </tr>

            <tr *ngIf="((countNTVAZO()>0) )">
                <ng-container >
                    <td style="width: 1200px;"></td>
                    <td    style="text-align: left;border-left: 1px solid;border-top:1px solid black;border-bottom:1px solid black;width:450px;" >TVA 0 %</td>
                    <td  style="text-align: right;border-top:1px solid black;border-bottom:1px solid black;border-right:1px solid black;">
                        {{countNTVAZO() | currency:'EUR':true:'1.2-2'}}

                    </td>

                </ng-container>
            </tr>

            <tr *ngIf="((countNTVAO()>0) )">
                <ng-container >
                    <td style="width: 1200px;"></td>
                    <td    style="text-align: left;border-left: 1px solid;border-top:1px solid black;border-bottom:1px solid black;width:450px;" >TVA 2.1 %</td>
                    <td   style="text-align: right;border-top:1px solid black;border-bottom:1px solid black;border-right:1px solid black;" >
                        {{countNTVAO() | currency:'EUR':true:'1.2-2'}}

                    </td>

                </ng-container>
            </tr>
            <tr *ngIf="((countNTVACO()>0) )">
                <ng-container >
                    <td style="width: 1200px;"></td>
                    <td    style="text-align: left;border-left: 1px solid;border-top:1px solid black;border-bottom:1px solid black;width:450px;" >TVA 5.5 %</td>
                    <td  style="text-align: right;border-top:1px solid black;border-bottom:1px solid black;border-right:1px solid black;" >
                        {{countNTVACO() | currency:'EUR':true:'1.2-2' }}

                    </td>

                </ng-container>
            </tr>
            <tr *ngIf="((countNTVADO()>0) )">
                <ng-container >
                    <td style="width: 1200px;"></td>
                    <td    style="text-align: left;border-left: 1px solid;border-top:1px solid black;border-bottom:1px solid black;width:450px;" >TVA 10 %</td>
                    <td  style="text-align: right;border-top:1px solid black;border-bottom:1px solid black;border-right:1px solid black;" >
                        {{countNTVADO() | currency:'EUR':true:'1.2-2' }}

                    </td>

                </ng-container>
            </tr>
            <tr *ngIf="((countNTVAsO()>0) )">
                <ng-container >
                    <td style="width: 1200px;"></td>
                    <td    style="text-align: left;border-left: 1px solid;border-top:1px solid black;border-bottom:1px solid black;width:450px;" >TVA 20 %</td>
                    <td  style="text-align: right;border-top:1px solid black;border-bottom:1px solid black;border-right:1px solid black;" >
                        {{countNTVAsO() | currency:'EUR':true:'1.2-2' }}

                    </td>

                </ng-container>
            </tr>

            <tr *ngIf="produitDevisOptions.length> 0">
                <td style="width: 1200px;"></td>
                <td    style="text-align: left;border-left: 1px solid;border-top:1px solid black;border-bottom:1px solid black;width:450px;" >
                    Total TVA :
                </td>

                <td style="border-right:1px solid black;border-top: 1px solid black;border-bottom:1px solid black;text-align: right;" >{{countAllTVAO() | currency:'EUR':true:'1.2-2' }} </td>

            </tr>


            <tr *ngIf="produitDevisOptions.length> 0"  style="height: 30px;margin-left:90%;">
                <td style="width: 1200px;"></td>
                <td    style="text-align: left;border-left: 1px solid;border-top:1px solid black;border-bottom:1px solid black;width:450px;" >TTC Options:</td>
                <td style="text-align: right;border-right:1px solid black;border-top: 1px solid black;border-bottom:1px solid black;text-align: right;" class="droit">{{Totaloption() + countAllTVAO()| currency:'EUR':true:'1.2-2'}}</td>
                <!--calcul la somme de toutes quantités ajouté au bon de commande-->
            </tr>


            <p>&nbsp;</p>


            <tr *ngIf="produitsDevis.length> 0 && produitDevisOptions.length> 0"  style="height: 10px;margin-left:90%;">


                <td style="width: 1200px;"></td>
                <td    style="text-align: left;border-left: 1px solid;border-top:1px solid black;border-bottom:1px solid black;width:450px;" >Total HT :</td>
                <td style="border-top:1px solid black;border-right: 1px solid black;text-align: right;">{{total() | currency:'EUR':true:'1.2-2'}}</td>
                <!--calcul la somme de toutes quantités ajouté au bon de commande-->
            </tr>
            <tr *ngIf="produitsDevis.length > 0 && produitDevisOptions.length> 0 && devis.remise"  style="height: 30px;margin-left:90%;">
                <td style="width: 1200px;"></td>
                <td    style="text-align: left;border-left: 1px solid;border-top:1px solid black;border-bottom:1px solid black;width:450px;" >Remise {{devis.remise}} %:</td>
                <td style="border-top:1px solid black;border-right: 1px solid black;border-bottom: 1px solid black;text-align: right;">{{ countTotalRemise() | currency:'EUR':true:'1.2-2'}}</td>
                <!--calcul la somme de toutes quantités ajouté au bon de commande-->
            </tr>

            <tr *ngIf="produitsDevis.length > 0 && produitDevisOptions.length> 0"  style="height: 30px;margin-left:90%;">
                <td style="width: 1200px;"></td>
                <td    style="text-align: left;border-left: 1px solid;border-top:1px solid black;border-bottom:1px solid black;width:450px;" >TTC Total :</td>
                <td style="border-top:1px solid black;border-right: 1px solid black;border-bottom:1px solid black;text-align: right;">{{totalTVA() + countTotalTVA()  | currency:'EUR':true:'1.2-2'}}</td>
                <!--calcul la somme de toutes quantités ajouté au bon de commande-->
            </tr>

            <tr style="height: 10px;" *ngIf="devis.other">
                <td class="col-sm-12" style="text-align: left;border-bottom: 1px solid white;border-top: 1px solid white;">Conditions de règlement :</td>


            </tr>
            <td *ngIf="devis.other"><div class="form-group"><textarea [(ngModel)]="devis.other" name="other" style="border:none;width: 500px; height: 150px;margin-top:128px;" disabled></textarea></div></td>
            <td *ngIf="devis.other"></td>
            <td *ngIf="devis.other"></td>
            <td *ngIf="devis.other"></td>
            <td *ngIf="devis.other"></td>
            <td *ngIf="devis.other"></td>
            <td *ngIf="devis.other"></td>
            <tr>

            </tr>
            <tr style="height: 10px;margin-bottom: 50px;" class="col-sm-12" *ngIf="devis.accompte_percent || (devis.accompte_value>0)">
                <td class="col-sm-12" style="text-align: left;border-bottom:1px solid white;">Acompte
                    <div >
                        <div  *ngIf="devis.accompte_percent">

                            Acompte à la signature du devis: {{devis.accompte_percent}}%

                        </div>


                    </div>
                    <div class="form-group" *ngIf="devis.accompte_value>0">

                        Acompte à la signature du devis: {{devis.accompte_value| currency:'EUR':true:'1.2-2'}}€

                    </div>
                </td>
            </tr>


        </table>






        <div class="form-group col-sm-4" *ngIf="print"  id="pageFooter" style="height: 60px;page-break-before:always;page-break-after:always;">




            <article style="margin-top: -40px;bottom:53px;left: 0; right: 0;position: fixed;text-align: center;z-index: 4;" >

                <p style="font-size:11px; height: 10px;" class="red">
                    {{fact.pied_page1}}
                    {{fact.pied_page2}}
                    {{fact.pied_page3}}
                    {{fact.pied_page4}}
                    {{fact.pied_page5}}
                    {{fact.pied_page6}}</p>
            </article>



        </div>

        <div   style="font-size: 12px;position:relative;page-break-before:always;page-break-after:always;page-break-inside: avoid;text-align: justify;padding-right:-10px;margin-right:10px;" *ngIf="print"  id="cgv">



            <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
            <p style="text-align: justify;width: 1000px;padding-right:10px;">{{cgv.texte}}</p>
        </div>
    </div>


    </body>
</div>

