<div id="devis">

    <my-header *ngIf="!print" [title]='"Devis"' [img]='"image/menu/gestion_grand_gris.png"'></my-header>


    <div class=" container ">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <h3 *ngIf="!print">Dupliquer Devis n° {{id}} - Version : {{devis.num_version}}</h3>


        <form id="printSectionId" (submit)="submit()">
            <fieldset class="separe">

                <!--<div class="row marge">
                    <img *ngIf="print" src="image/logo_jd.png" class="col-sm-2 col-sm-offset-5"
                         style="text-align: center;margin-left:25%; top:0px; position: absolute;">
                </div>-->

                <div class="col-sm-5">

                    <div class="form-group" *ngIf="devis.id_chantier">
                        <label class="col-sm-4">Nom du chantier:</label>
                        <input style="border:1px solid white;"
                               ng2-auto-complete
                               #prod
                               [source]="chantiers"
                               [list-formatter]="autocompleListFormatterchantier"
                               value-property-name="id_chantier"
                               display-property-name="nom_chantier"
                               type="text"
                               name="chantier"
                               value=""
                               [(ngModel)]="devis.nom_chantier"
                               disabled>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4">Remise:</label>
                        <input style="border:1px solid white;"
                               type="number"
                               step="0.01"
                               name="remise"
                               min="0"
                               max="100"
                               [(ngModel)]="devis.remise">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4">Acompte:</label>
                        <input
                                type="checkbox"
                                name="accompte"
                                [(ngModel)]="devis.accompte">
                    </div>
                    <div class="form-group" *ngIf="devis.accompte">
                        <label class="col-sm-4">en €:</label>
                        <input style="border:1px solid white;"
                               type="number"
                               step="0.01"
                               name="euro"
                               [(ngModel)]="devis.accompte_value"
                               (ngModelChange)="accompteeuro()">
                    </div>
                    <div class="form-group" *ngIf="devis.accompte">
                        <label class="col-sm-4">en %:</label>
                        <input style="border:1px solid white;"
                               type="number"
                               step="0.01"
                               name="pourcentage"
                               [(ngModel)]="devis.accompte_percent"
                               (ngModelChange)="accomptepercent()">
                    </div>
                </div>


                <div class="col-sm-6 col-sm-offset-1">
                    <div class="form-group" *ngIf="address">
                        <span class=" glyphicon glyphicon-alert red"></span><span class="col-sm-9">Aucune adresse pré-enregistrée pour ce client</span>
                    </div>
                    <div class="form-group col-sm-8 col-sm-offset-3">
                        <span>{{devis.raison_sociale ? devis.raison_sociale : devis.nom +" " +devis.prenom}}</span>
                    </div>

                    <div class="form-group col-sm-8 col-sm-offset-3">
                        <span>{{devis.adresse}}</span>
                    </div>
                    <div class="form-group col-sm-8 col-sm-offset-3" *ngIf="devis.cp != 0 || devis.ville">
                        <span>{{devis.code_postal ? devis.code_postal :devis.cp}} - {{devis.vil ? devis.vil :devis.ville}}</span>
                    </div>

                </div>

            </fieldset>

            <fieldset class="marge1">

                <div class="table-responsive" style="min-height: 300px;">
                    <table class="table table-bordered">
                        <thead>

                        <th class="col-sm-1">Option</th>
                        <th class="col-sm-1">Référence</th>
                        <th class="col-sm-5">Désignation</th>
                        <th class="col-sm-1">Unité</th>
                        <th class="col-sm-1">* Qte</th>
                        <th class="col-sm-1">* TVA</th>
                        <th class="col-sm-1">* P.U. HT</th>
                        <th class="col-sm-1">Total HT:</th>
                        <th *ngIf="!print" class="col-sm-1">Action</th>
                        </thead>

                        <tbody>
                        <tr>
                            <td>
                                <div class="checkbox ">
                                    <label>
                                        <input type="checkbox" value="option" name="option"
                                               [(ngModel)]="produit.option">
                                        Option
                                    </label>

                                </div>
                            </td>
                            <td>
                                <div class="form-group ">
                                    <input type="text" class="form-control input-sm" id="reference" placeholder=""
                                           name="ref"
                                           [(ngModel)]="produit.ref">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input ng2-auto-complete
                                           #prod
                                           [source]="produits"
                                           [list-formatter]="autocompleListFormatterProducts"
                                           value-property-name="id"
                                           display-property-name="libelle"
                                           class="form-control input-sm"
                                           placeholder="Ajoutez un produit"
                                           name="produit"
                                           [(ngModel)]="produit.obj"
                                           (ngModelChange)="test()"
                                    >
                                    <!--écriture qui peut être defini par rapport aux article déjà dans la base de donnée-->
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input class="form-control input-sm" *ngIf="!produit.obj" type="text" name="unite"
                                           placeholder="Unité" value="">
                                    <div *ngIf="produit.obj"> {{produit.unite}}</div>
                                </div>
                            </td>

                            <td>
                                <div class="form-group">
                                    <input type="number" class="form-control input-sm" name="quantite" placeholder=""
                                           min="0" [(ngModel)]="produit.qte" (ngModelChange)="accomptepercent()">
                                </div>
                            </td>
                            <td>
                                <select name="taux" class="col-sm-12" [(ngModel)]="produit.taux" required>
                                    <option *ngFor="let tva of tvas"[value]="tva.taux">{{tva.taux}}</option>
                                </select>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="number" class="form-control input-sm" name="Prix_unitaire"
                                           placeholder="" min="0"
                                           [(ngModel)]="produit.prix"
                                           (ngModelChange)="accomptepercent()">
                                </div>
                            </td>

                            <td>
                                <span *ngIf="produit.qte && produit.prix">{{produit.qte*produit.prix | currency:'EUR':true:'1.2-2'}}</span>
                            </td>
                            <td *ngIf="!print && droitsuser.ajoutdev">
                                <button class="btn btn-default input-sm col-sm-offset-1"
                                        (click)="ajouter()"
                                        [disabled]="!produit.obj"> Ajouter
                                </button>
                            </td>

                        </tr>


                        <tr *ngFor="let produit of produitDevis, let i = index; trackBy:customTrackBy">

                            <td>
                            </td>

                            <td>
                                <div class="form-group">
                                    <span>{{produit.id_prc}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <span>{{produit.libelle}}</span><br>
                                    <span *ngIf="produit.commentaire">{{produit.commentaire}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <span>{{produit.unite}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="number"
                                           class="form-control input-sm"
                                           name="quantite{{i}}"
                                           placeholder=""
                                           min="0"
                                           [(ngModel)]="produitDevis[i].qte_devis"
                                           (ngModelChange)="accomptepercent()"
                                           required>
                                </div>
                            </td>
                            <td style="text-align: right;">
                                {{produitDevis[i].taux ? produitDevis[i].taux : produitDevis[i].tva }}
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="number"
                                           class="form-control input-sm"
                                           name="Prix_unitaire{{i}}"
                                           placeholder=""
                                           min="0"
                                           step="0.01"
                                           [(ngModel)]="produitDevis[i].prix_devis"
                                           (ngModelChange)="accomptepercent()"
                                           required>
                                </div>
                            </td>
                            <td>
                                <span>{{produitDevis[i].qte_devis * produitDevis[i].prix_devis| currency:'EUR':true:'1.2-2' }}</span>
                            </td>

                            <td *ngIf="!print">
                                <a class=" col-sm-offset-1"
                                   (click)="supprimer(produitDevis[i])">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"
                                          style="color: #0f0f0f"></span>
                                </a>
                            </td>

                        </tr>

                        <tr>
                            <td colspan="6" class="total" style="text-align: right;">Total HT :</td>
                            <td class="total">{{countTotal() | currency:'EUR':true:'1.2-2'}}</td>
                            <!--calcul la somme de toutes quantités ajouté au bon de commande-->
                        </tr>
                        <tr *ngIf="devis.remise">
                            <td colspan="6" class="total" style="text-align: right;">Total après remise :</td>
                            <td class="total">{{countTotalRemise() | currency:'EUR':true:'1.2-2'}}</td>
                            <!--calcul la somme de toutes quantités ajouté au bon de commande-->
                        </tr>

                        <tr *ngIf="((countNTVAZ()>0) )">
                            <ng-container>
                                <td colspan="5"></td>
                                <td style="text-align: left;">TVA 0 %</td>
                                <td style="text-align: right;">
                                    {{countNTVAZ() | currency:'EUR':true:'1.2-2'}}

                                </td>

                            </ng-container>
                        </tr>

                        <tr *ngIf="((countNTVA()>0) )">
                            <ng-container>
                                <td colspan="5"></td>
                                <td style="text-align: left;">TVA 2.1 %</td>
                                <td style="text-align: right;">
                                    {{countNTVA() | currency:'EUR':true:'1.2-2'}}

                                </td>

                            </ng-container>
                        </tr>
                        <tr *ngIf="((countNTVAC()>0) )">
                            <ng-container>
                                <td colspan="5"></td>
                                <td style="text-align: left;">TVA 5.5 %</td>
                                <td style="text-align: right;">
                                    {{countNTVAC() | currency:'EUR':true:'1.2-2' }}

                                </td>

                            </ng-container>
                        </tr>
                        <tr *ngIf="((countNTVAD()>0) )">
                            <ng-container>
                                <td colspan="5"></td>
                                <td style="text-align: left;">TVA 10 %</td>
                                <td style="text-align: right;">
                                    {{countNTVAD() | currency:'EUR':true:'1.2-2' }}

                                </td>

                            </ng-container>
                        </tr>
                        <tr *ngIf="((countNTVAs()>0) )">
                            <ng-container>
                                <td colspan="5"></td>
                                <td style="text-align: left;">TVA 20 %</td>
                                <td style="text-align: right;">
                                    {{countNTVAs() | currency:'EUR':true:'1.2-2' }}

                                </td>

                            </ng-container>
                        </tr>


                        <br/>

                        <tr>
                            <td colspan="5"></td>
                            <td style="text-align: left;">
                                Total TVA :
                            </td>

                            <td style="text-align: right;">{{countAllTVA() | currency:'EUR':true:'1.2-2' }}</td>

                        </tr>
                        <tr>
                            <td colspan="6" class="total" style="text-align: right;">TTC :</td>
                            <td class="total">{{countTotalTVA() + countAllTVA() | currency:'EUR':true:'1.2-2'}}</td>
                            <!--calcul la somme de toutes quantités ajouté au bon de commande-->
                        </tr>


                        <tr *ngIf="produitDevisOptions.length > 0">
                            <td colspan="6"
                                class="total"
                                style="text-align: right;
                                background-color: #0f0f0f;
                                color: white">
                                Options:
                            </td>
                            <!--calcul la somme de toutes quantités ajouté au bon de commande-->
                        </tr>

                        <tr *ngFor="let produit of produitDevisOptions, let i = index; trackBy:customTrackBy">


                            <td></td>
                            <td>
                                <div class="form-group">
                                    <span>{{produit.id_prc}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <span>{{produit.libelle}}</span><br>
                                    <span *ngIf="produit.commentaire">{{produit.commentaire}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <span>{{produit.unite}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="number" class="form-control input-sm" name="quantiteOption{{i}}"
                                           placeholder=""
                                           min="0" [(ngModel)]="produitDevisOptions[i].qte_devis"
                                           (ngModelChange)="accomptepercent()"
                                           required>
                                </div>
                            </td>
                            <td style="border-bottom:1px solid black;border-right: 1px solid black;">
                                <div class="form-group">
                                    {{produitDevisOptions[i].taux ? produitDevisOptions[i].taux :produitDevisOptions[i].tva}}
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="number"
                                           class="form-control input-sm"
                                           name="Prix_unitaireOption{{i}}"
                                           placeholder=""
                                           min="0"
                                           step="0.01"
                                           [(ngModel)]="produitDevisOptions[i].prix_devis"
                                           (ngModelChange)="accomptepercent()"
                                           required>
                                </div>
                            </td>
                            <td>
                                <span>{{produitDevisOptions[i].qte_devis * produitDevisOptions[i].prix_devis  | currency:'EUR':true:'1.2-2'}}</span>
                            </td>

                            <td *ngIf="!print">
                                <a class=" col-sm-offset-1"
                                   (click)="supprimeroption(produitDevisOptions[i])">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"
                                          style="color: #0f0f0f"></span>
                                </a>
                            </td>

                        </tr>
                        <tr *ngIf="produitDevisOptions.length> 0">
                            <td colspan="6" class="total" style="text-align: right;">HT:</td>
                            <td class="total">{{countTotalOptions() | currency:'EUR':true:'1.2-2'}}</td>
                            <!--calcul la somme de toutes quantités ajouté au bon de commande-->
                        </tr>
                        <tr *ngIf="produitDevisOptions.length> 0 && devis.remise">
                            <td colspan="6" class="total" style="text-align: right;">Total après remise HT:</td>
                            <!--ce fait sur le hors-->
                            <td class="total">{{countTotalOptionRemise() | currency:'EUR':true:'1.2-2'}}</td>
                            <!--calcul la somme de toutes quantités ajouté au bon de commande-->
                        </tr>
                        <tr *ngIf="((countNTVAO()>0) )">
                            <ng-container>
                                <td colspan="5"></td>
                                <td style="text-align: left;">TVA 2.1 %</td>
                                <td style="text-align: right;">
                                    {{countNTVAO() | currency:'EUR':true:'1.2-2'}}

                                </td>

                            </ng-container>
                        </tr>
                        <tr *ngIf="((countNTVACO()>0) )">
                            <ng-container>
                                <td colspan="5"></td>
                                <td style="text-align: left;">TVA 5.5 %</td>
                                <td style="text-align: right;">
                                    {{countNTVACO() | currency:'EUR':true:'1.2-2' }}

                                </td>

                            </ng-container>
                        </tr>
                        <tr *ngIf="((countNTVADO()>0) )">
                            <ng-container>
                                <td colspan="5"></td>
                                <td style="text-align: left;">TVA 10 %</td>
                                <td style="text-align: right;">
                                    {{countNTVADO() | currency:'EUR':true:'1.2-2' }}

                                </td>

                            </ng-container>
                        </tr>
                        <tr *ngIf="((countNTVAsO()>0) )">
                            <ng-container>
                                <td colspan="5"></td>
                                <td style="text-align: left;">TVA 20 %</td>
                                <td style="text-align: right;">
                                    {{countNTVAsO() | currency:'EUR':true:'1.2-2' }}

                                </td>

                            </ng-container>
                        </tr>


                        <br/>

                        <tr  *ngIf="produitDevisOptions.length> 0">
                            <td colspan="5"></td>
                            <td style="text-align: left;">
                                Total TVA :
                            </td>

                            <td style="text-align: right;">{{countAllTVAO() | currency:'EUR':true:'1.2-2' }}</td>

                        </tr>
                        <br/>
                        <tr *ngIf="produitDevisOptions.length> 0">
                            <td colspan="6" class="total" style="text-align: right;">TTC :</td>
                            <td class="total">{{countTotalOptionstotalTVA() + countAllTVAO()|
                                currency:'EUR':true:'1.2-2'}}
                            </td>
                            <!--calcul la somme de toutes quantités ajouté au bon de commande-->
                        </tr>


                        <tr *ngIf="produitDevis.length > 0 && produitDevisOptions.length> 0">
                            <td colspan="6" class="total" style="text-align: right; background-color: #0f0f0f;
                                color: white">HT :
                            </td>
                            <td class="total">{{total() | currency:'EUR':true:'1.2-2'}}</td>
                            <!--calcul la somme de toutes quantités ajouté au bon de commande-->
                        </tr>
                        <tr *ngIf="produitDevis.length > 0 && produitDevisOptions.length> 0 && devis.remise">
                            <td colspan="6" class="total" style="text-align: right; background-color: #0f0f0f;
                                color: white">Total après remise HT:
                            </td>
                            <td class="total">{{totalRemiseTVA() | currency:'EUR':true:'1.2-2'}}</td>
                            <!--calcul la somme de toutes quantités ajouté au bon de commande-->
                        </tr>
                        <tr *ngIf="produitDevis.length > 0 && produitDevisOptions.length> 0">
                            <td colspan="6" class="total" style="text-align: right; background-color: #0f0f0f;
                                color: white">TVA {{devis.tva}} %:
                            </td>
                            <td class="total">{{totalTVA() + countAllTVAO() + countAllTVA() |
                                currency:'EUR':true:'1.2-2'}}
                            </td>
                        </tr>
                        <tr *ngIf="produitDevis.length > 0 && produitDevisOptions.length> 0">
                            <td colspan="6" class="total" style="text-align: right; background-color: #0f0f0f;
                                color: white">TTC :
                            </td>
                            <td class="total">{{countTotalfinal() + countAllTVAO() + countAllTVA() |
                                currency:'EUR':true:'1.2-2'}}
                            </td>
                            <!--calcul la somme de toutes quantités ajouté au bon de commande-->
                        </tr>


                        </tbody>


                    </table>

                    <button *ngIf="!print && droitsuser.validdev" class="btn btn-default input-sm col-sm-offset-11"
                            type="submit"
                            [disabled]="produitDevis.length < 1">
                        Valider
                    </button>

                    <div class="form-group col-sm-4" *ngIf="print" id="pageFooter"
                         style="height: 50px;page-break-after:always;page-break-inside: avoid;">


                        <article
                                style="margin-top: 0px;bottom: 16px;left: 0; right: 0;position: fixed;text-align: center;z-index: 4;font-size: 9px;">

                            <p style="font-size:7px; height: 10px;" class="red">{{fact.pied_page1}}
                                {{fact.pied_page2}}
                                {{fact.pied_page3}}
                                {{fact.pied_page4}}
                                {{fact.pied_page5}}
                                {{fact.pied_page6}}</p>
                        </article>


                    </div>


                    <div style="font-size: 10px;position:relative;page-break-before:always;page-break-inside: avoid;text-align: justify;"
                         *ngIf="print" id="cgv">

                        <!--<img *ngIf="print" src="image/logo_jd.png" class="col-sm-2 col-sm-offset-5"
                             style="text-align: center;margin-left:25%; top:0px; position: absolute;">-->


                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p style="text-align: justify;">{{cgv.texte}}</p>
                    </div>
                </div>
            </fieldset>
        </form>


    </div>
</div>

<button class="col-sm-offset-10 col-sm-2 btn" type="button" *ngIf="!print && droitsuser.accesdev" (click)=" imprimer()">
    Imprimer
</button>


