<div id="devis" style="border:none;" >

    <my-header *ngIf="!print" [title]='"Devis"' [img]='"image/menu/gestion_grand_gris.png"'></my-header>


    <body style="margin:0px;font-size: 18px;background-color: white;">
    <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
        <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>

    </div>
    <button class="col-sm-offset-8 col-sm-1 btn" type="button"  *ngIf="!print && droitsuser.accesdev" (click)=" imprimer()">Imprimer </button>
    <!--    <button [routerLink]="['/devis_pdf/'+devis.id_devis+'/'+devis.num_version+'/'+devis.nom_chantier]" class="col-sm-offset-8 col-sm-1 btn" type="button"  *ngIf="!print && droitsuser.accesdev" (click)=" imprimer()">Imprimer </button>
-->

    <div class=" container-fluid "  id="pageContent" style="z-index:10; ">

        <div class="row marge">
            <img *ngIf="print" src="image/logo_wBAT_horizontal.png"  height="100" style="margin-left:-1000px;">
        </div>
        <div class="row marge">
            <img *ngIf="print" src="image/logo_jd.png"  class="col-sm-2 col-sm-offset-5" style="text-align: center;margin-left:35%; top:0px; position: fixed;">
        </div>

        <div *ngIf="print" style="position:fixed;z-index: -10;margin-top:35%;">
            <img src="image/fili.png">
        </div>

        <div  style="margin-left: 50%;margin-top: 70px;">
            <div class="form-group " style="font-weight: bold;">
                <span>{{devis.raison_sociale ? devis.raison_sociale : devis.nom +" " +devis.prenom}}</span>
            </div>

            <div class="form-group">
                <div *ngIf="devis.adr" class="form-group">
                    <span style="text-align: center;">{{devis.adr}}</span>
                </div>
                <div *ngIf="!devis.adr" class="form-group">
                    <span style="text-align: center;">{{devis.adresse}}</span>
                </div>
                <div class="form-group" >
                    <span style="text-align: center;">{{devis.code_postal ? devis.code_postal :devis.cp}} - {{devis.vil ? devis.vil :devis.ville}}</span>
                </div>
                <div class="form-group" >
                    <span>A {{fact.ville_a}},</span><span> le {{devis.date_version | date:'dd-MM-yyyy'}}</span>
                </div>

            </div>

        </div>

        <div class="col-sm-5" style="margin:0px;font-size: 18px;">
            <div class="form-group" >
                <label class="col-sm-4" style="text-decoration: underline;">Devis n° :</label>
                <span> {{devis.id_devis}} </span>
            </div>

            <div class="form-group" >
                <label class="col-sm-4" style="text-decoration: underline;" >Version :</label>
                <span> {{devis.num_version}} </span>
            </div>

            <div class="form-group" *ngIf="devis.nom_chantier">
                <label class="col-sm-4" style="text-decoration: underline;">Nom du chantier:</label>
                <span >{{devis.nom_chantier}}</span>
            </div>
            <div class="form-group" *ngIf="devis.accompte_value">
                <label class="col-sm-4" style="text-decoration: underline;">Acompte:</label>
                <span >{{devis.accompte_value}} €</span>
            </div>
        </div>



    </div>

    <div class="table-responsive" style="margin-top: 25px;">

        <table style="width: 100%;font-size:18px;z-index:1;margin-bottom:50px;height:100%;border:1px solid black;" >

            <thead style="background-color: grey;">

            <tr>
                <th colspan="10" style="text-align: center;" class="col-sm-4">Désignation</th>

                <th class="col-sm-1" >Option acceptée</th>
                <th class="col-sm-1">Unité</th>
                <th   class="col-sm-1">Qte</th>
                <th  class="col-sm-1">P.U. HT</th>
                <th class="col-sm-2" colspan="2">Total HT</th>
                <th style="border-bottom:1px solid black;border-top:1px solid black;border-right: 1px solid black;"class="col-sm-1" >Option</th>
                <th style="border-bottom:1px solid black;border-top:1px solid black;border-right: 1px solid black;"class="col-sm-1">Unité</th>
                <th  style="border-bottom:1px solid black;border-top:1px solid black;border-right: 1px solid black; width: 50px;" class="col-sm-1">Qte</th>
                <th style="border-bottom:1px solid black;border-top:1px solid black;border-right: 1px solid black;width: 150px;" class="col-sm-1">P.U. HT</th>
                <th style="border-right: 1px solid black;border-bottom:1px solid black;border-top:1px solid black;text-align: center;" class="col-sm-2" colspan="2">Total HT</th>

            </tr>

            </thead>

            <tbody>

            <tr *ngFor="let prod of produit, let  i = index">
                <td colspan="10"  style="text-align: center;"><span style="font-weight: bold;">{{prod.produit}}</span> <br>

                <td colspan="10"  style="border-bottom: 1px solid black;border-left:1px solid black;text-align: center;"><span style="font-weight: bold;">{{prod.produit}}</span> <br>
                    <textarea  *ngIf="prod.commentaire" rows="6" class="col-sm-12" style="border:none;"  >{{prod.commentaire}}</textarea></td>
                <td style="border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;width: 30px;text-align: center;">

                    <span *ngIf="(produit[i].accepted == 0) || (produit[i].accepted == 1)"><input  type="checkbox" [(ngModel)]="produit[i].accepted" name="accepted{{i}}" (ngModelChange)="acceptOfferLibre(produit[i])"></span></td>
                <td style="text-align: center;">
                    {{prod.unite}}
                </td>
                <td style="text-align: center;">

                    {{prod.qte_devis}}</td>
                <td style="text-align: center;">

                    {{prod.prix_devis}}</td>

                <td colspan="2" style="text-align: center;">
                    {{prod.qte_devis * prod.prix_devis | number:'1.0-2'}}</td>
            </tr>

            <tr *ngIf="produitop.length > 0">
                <td colspan="24"
                    class="total"
                    style="text-align: left;
                                background-color: #0f0f0f;
                                color: white">
                    Options:
                </td>
            <tr *ngFor="let prode of produitop, let  i = index">

                <td colspan="10"  style="border-bottom: 1px solid black;border-left:1px solid black;text-align: center;"><span style="font-weight: bold;">{{prode.produit}}</span> <br>
                    <textarea  *ngIf="prode.commentaire" rows="6" class="col-sm-12" style="border:none;"  >{{prode.commentaire}}</textarea></td>
                <td style="border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;width: 30px;text-align: center;">

                    <span *ngIf="(produitop[i].accepted == 0) || (produitop[i].accepted == 1)"><input  type="checkbox" [(ngModel)]="produitop[i].accepted" name="accepted{{i}}" (ngModelChange)="acceptOfferLibre(produitop[i])"></span></td>
                <td style="border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;width: 30px;text-align: center;">
                    {{prode.unite}}
                </td>
                <td style="border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;width: 30px;text-align: center;">

                    {{prode.qte_devis}}</td>
                <td style="border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;width: 30px;text-align: center;">

                    {{prode.prix_devis}}</td>

                <td colspan="2" style="border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;width: 30px;text-align: center;">
                    {{prode.qte_devis * prode.prix_devis | number:'1.0-2'}}</td>
            </tr>


            </tbody>

        </table>

        <table class="col-sm-4 col-sm-offset-7 " style="float:right;">

            <tr style="border-top: 1px solid black;border-left:1px;">
                <td style="text-align: left;border-left:1px solid black;">Total H.T. : </td>
                <td colspan="3" style="border-right: 1px solid black;">{{countTotaldet() | number:'1.0-2'}} €</td>
            </tr>
            <tr *ngIf="devis.remise" style="border-top: 1px solid black;border-left:1px solid black; border-right:1px solid black;">
                <td style="text-align: left;">Total H.T. après remise de {{devis.remise}}%</td>
                <td colspan="3">{{countTotaldet() *(1-(devis.remise/100)) | number:'1.0-2'}} €</td>
            </tr>
            <tr style="border-left:1px solid black; border-right:1px solid black;">
                <td style="text-align: left;">TVA {{devis.tva}} %:</td>
                <td colspan="3"> {{countTva()| number:'1.0-2'}} €</td>
            </tr>
            <tr style="border-left:1px solid black; border-right:1px solid black;border-bottom: 1px solid black;">
                <td style="text-align: left;">TTC :</td>
                <td colspan="3">{{countTtc() | number:'1.0-2'}} €</td>
            </tr>

            <br />

            <tr *ngIf="countTotalopt(0)" style="border-top: 1px solid black;border-left:1px solid black; border-right:1px solid black;">
                <td style="text-align: left;border-left:1px;">Total H.T. </td>
                <td colspan="3">{{countTotalopt() | number:'1.0-2'}} €</td>
            </tr>
            <tr *ngIf="countTotalopt(0)" style="border-top: 1px solid black;border-left:1px solid black; border-right:1px solid black;">
                <td style="text-align: left;">Total H.T. après remise {{devis.remise}}%</td>
                <td colspan="3">{{countTotalopt() *(1-(devis.remise/100)) | number:'1.0-2'}} €</td>
            </tr>
            <tr *ngIf="countTvaopt(0)" style="border-left:1px solid black; border-right:1px solid black;">
                <td style="text-align: left;">TVA {{devis.tva}} %:</td>
                <td colspan="3">{{countTvaopt() | number:'1.0-2'}} €</td>
            </tr>
            <tr *ngIf="countTtcopt(0)" style="border-left:1px solid black; border-right:1px solid black;border-bottom: 1px solid black;">
                <td style="text-align: left;">TTC :</td>
                <td colspan="3">{{countTtcopt() | number:'1.0-2'}} €</td>
            </tr>
            <br /> <br />
        </table>

    </div>

    </body>
    <div class="form-group col-sm-4" *ngIf="print"  id="pageFooter" style="height: 50px;page-break-before:always;page-break-inside: avoid;">

        <article style="margin-top: -40px;bottom:37px;left: 0; right: 0;position: fixed;text-align: center;z-index: 4;" >

            <p style="font-size:11px; height: 10px;" class="red">{{fact.pied_page1}}
                {{fact.pied_page2}}
                {{fact.pied_page3}}
                {{fact.pied_page4}}
                {{fact.pied_page5}}
                {{fact.pied_page6}}</p>
        </article>

    </div>

    <div   style="font-size: 12px;position:relative;page-break-before:always;page-break-inside: avoid;text-align: justify;" *ngIf="print"  id="cgv">
        <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
        <p style="text-align: justify;">{{cgv.texte}}</p>
    </div>
</div>