<div id="chantier">

    <my-header *ngIf="!print" [title]='"Devis"'></my-header>


    <div class=" container-fluid ">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
       <recherchedevis #recherche [devis]="this"></recherchedevis>

        <div class="col-sm-9">

            <div class="col-sm-12">
                <div *ngIf="!print" class=" col-sm-offset-9" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;padding-left:45px;">
                    <a  [routerLink]="['/newdevis']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Nouveau devis</span>
                </div>


            <h3 class="col-sm-12">Liste des devis</h3>

            <ng-container *ngIf="!date">
            <a *ngIf="!print" (click)="back()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> </a>
            <a *ngIf="!print" (click)="up()"> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </a>

            {{monthArray[my.getMonth()]}} {{my.getFullYear()}}
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </ng-container>

            <div class="  col-sm-12 table-responsive" style="min-height: 250px">
                <table class="table table-striped bord" >
                    <!--<span style="color:red;">Votre devis a été supprimé</span> condition à mettre en ^place lorsuqe le bonton valider à été utiliser pour fair apparaitre le message-->
                    <thead>
                    <th>Accepté</th>
                    <th>N° devis</th>
                    <th>Version</th>
                    <th>Chantier</th>
                    <th>Client</th>
                    <th>Statut</th>
                    <th>Date du devis</th>
                    <th>Montant H.T. (€)</th>
                    <th>Envoyé</th>
                    <th *ngIf="!print">Actions</th>
                    </thead>
                    <tbody>

                    <tr *ngFor="let devi of devis; let i=index">
                        <td><span class="glyphicon glyphicon-remove" aria-hidden="true" *ngIf="!devi.accepted"></span>
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" *ngIf="devi.accepted"></span>
                        </td>

                        <td>{{devi.id_devis}}</td>
                        <td>{{devi.num_version}}</td>
                        <td>{{devi.nom_chantier}}</td>
                        <td>{{devi.raison_sociale ? devi.raison_sociale : devi.nom}}</td>
                        <td>{{devi.statut}}</td>
                        <td>{{devi.date_version | date :"dd/MM/yyyy"}}</td>
                        <td>{{(devi.remise ? (devi.total*(1-(devi.remise/100))) : devi.total) | currency:'EUR':true:'1.2-2'}}</td>

                        <td>
                            <input type="checkbox" [(ngModel)]="devis[i].envoye" [disabled]="devis[i].envoye" (ngModelChange)="sendEnvoye(devis[i])" name="check{{i}}">
                        </td>
                        <td>
                            <div class="input-group">
                                <div *ngIf="!print" class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle input-sm"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
                                        <span class="caret"></span></button>
                                    <ul *ngIf="!print" class="dropdown-menu dropdown-menu-right">
                                        <li *ngIf="droitsuser.accesdev"><a [routerLink]="(devi.libre == 1)?['/ficheDevisLibre',devi.id_devis, devi.num_version]:['/devis',devi.id_devis, devi.num_version]">Ouvrir</a></li><!--ouvrir en un PDF-->
                                        <li *ngIf="!devi.accepted && droitsuser.accesdev && !devi.libre"><a [routerLink]="['/analysedevis',devi.id_devis, devi.num_version]">Analyse devis</a></li>
                                        <li *ngIf="!devi.accepted && devi.envoye && !devi.valide && droitsuser.ajoutdev"><a [routerLink]="(devi.libre == 1)?['/dupliquerlibre',devi.id_devis, devi.num_version]:['/dupliquerdevis',devi.id_devis, devi.num_version]" >Nouvelle version</a></li>
                                        <li *ngIf="!devi.accepted && !devi.envoye && droitsuser.modifdev"><a  [routerLink]="(devi.libre == 1)?['/modifierlibre',devi.id_devis, devi.num_version]:['/modifierdevis',devi.id_devis, devi.num_version]">Modifier</a></li>
                                        <li *ngIf="devi.accepted && !devi.factured && droitsuser.ajoutfact"><a [routerLink]="['/editer_facture',devi.id_devis, devi.num_version]">Facturer</a></li>
                                        <li *ngIf="devi.accepted  && !devi.accompte && droitsuser.ajoutfact"><a [routerLink]="['/acompte',devi.id_devis, devi.num_version]">Facture d'acompte</a></li>
                                        <li *ngIf="!devi.accepted && !devi.valide && devi.envoye && !devi.id_chantier && droitsuser.ajoutdev"><a [routerLink]="['/ajoutchantier',devi.id_devis, devi.num_version]"> Valider / Nouveau chantier </a></li>
                                        <li *ngIf="!devi.accepted && !devi.valide && devi.envoye && devi.id_chantier && droitsuser.validdev"><a (click)="valider(devi)"> Valider  </a></li>
                                    </ul>
                                </div>
                            </div></td>
                    </tr>

                    </tbody>
                </table>
                <button [routerLink]="['/histo_devis']" class="col-sm-offset-7 col-sm-2 btn" style="margin-top:30px;" type="button" *ngIf="!print && droitsuser.accesdev" >Historique devis GED</button>

                <button class="col-sm-offset-10 col-sm-2 btn" type="button" *ngIf="!print && droitsuser.accesdev" style="margin-top:-35px;" (click)=" imprimer()">Imprimer le listing</button>

            </div>
        </div><!--fin col sm 9-->
    </div>
    </div>
</div>