<div style="width: 150px;">
    <img *ngIf="localImgUrl" [src]="localImgUrl" class="img-thumbnail images" style="max-height: 180px">
    <img *ngIf="!localImgUrl && onlineImgUrl" [src]="uploadUrl+'/'+id+'/'+onlineImgUrl"
         class="img-thumbnail images" style="max-height: 180px"/>
    <img *ngIf="!localImgUrl && !onlineImgUrl" [src]="DEFAULT_IMG_PATH" class="img-thumbnail images"
         style="max-height: 180px"/>

    <input *ngIf="!utilsService.isPrinting" type="file" ng2FileSelect [uploader]="uploaderImg"
           (change)="readUrl($event)"/>
</div>