<div id="chantier">
    <header>
        <div class="toobar">
            <div class="fill">
                <div class="container-fluid">
                    <img src="image/menu/parametres_grand_orange.png">
                    <span style="padding-left: 5px;">Catégorie de produits et Unités</span>
                </div>
            </div>
        </div>
    </header>


    <menu-param></menu-param>


    <div class="container-fluid">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>

        <div class="col-sm-6">

            <h3 class="col-sm-12">Catégorie de produits</h3>

            <ng-container *ngFor="let cats of cat, let i = index">

                <tr class="col-sm-12">
                    <td class="col-sm-3">
                        Libellé :
                    </td>
                    <td class="col-sm-8">
                        <input type="text" name="libelle" [(ngModel)]="cat[i].libelle" class="col-sm-12"/>
                    </td>
                    <td class="col-sm-1">
                        <button type="button" (click)="modify(cats)">Modifier</button>
                    </td>
                </tr>


            </ng-container>

            <h4 class="col-sm-12">Ajouter une nouvelle catégorie</h4>
            <form method="" (ngSubmit)="addCat()">
                <div class="col-sm-12">
                    <span class="col-sm-3">Libellé</span>
                    <input type="text" name="libelle" [(ngModel)]="entre.libelle" class="col-sm-8">
                    <button type="submit" [disabled]="loading" class="col-sm-1">Ajouter</button>
                </div>
            </form>


        </div>


        <div class="col-sm-6">

            <h3 class="col-sm-12">Les unités de produits</h3>

            <ng-container *ngFor="let unites of unite, let i = index">

                <tr class="col-sm-12">
                    <td class="col-sm-3">
                        Libellé :
                    </td>
                    <td class="col-sm-8">
                        <input type="text" name="libelle" [(ngModel)]="unite[i].libelle" class="col-sm-12"/>
                    </td>
                    <td class="col-sm-1">
                        <button type="button" (click)="upUnite(unites)">Modifier</button>
                    </td>
                </tr>


            </ng-container>

            <h4 class="col-sm-12">Ajouter les unités de produits</h4>
            <form method="" (ngSubmit)="addUnit()">
                <div class="col-sm-12">
                    <span class="col-sm-3">Libellé</span>
                    <input type="text" name="libelle" [(ngModel)]="prod.libelle" class="col-sm-8">
                    <button type="submit" [disabled]="loading" class="col-sm-1">Ajouter</button>
                </div>
            </form>


        </div>


    </div>
</div>