<div id="chantier">

    <my-header [title]='"Condition de vente"' [img]="'image/menu/parametres_grand_orange.png'"></my-header>

    <menu-param></menu-param>

    <div class="container-fluid">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <h3 class="col-sm-12">Conditions générales de vente</h3>

        <textarea name="texte" [(ngModel)]="cgv.texte" class="col-sm-12" rows="40"></textarea>
        <button type="button" (click)="modify(cgv)" class="col-sm-offset-11 col-sm-1 " *ngIf="cgv">Modifier</button>
        <button type="button" class="col-sm-offset-11 col-sm-1 " (click)="addcgv()" *ngIf="!cgv">Ajouter</button>
    </div>
</div>