<div id="chantier">
    <header>
        <div class="toobar">
            <div class="fill">
                <div class="container-fluid">
                    <img src="image/menu/parametres_grand_orange.png">
                    <span style="padding-left: 5px;">Déverouillage produits</span>
                </div>
            </div>
        </div>
    </header>


    <menu-param></menu-param>


    <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
        <a [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span
            class="blan1">Retour accueil</span>
    </div>

    <h3 class="col-sm-12">Déverouillage produits</h3>

    <h6>Ulisateur temporairement autorisé à modifier un produit verouillé pour une date préciseée</h6>
    <div class="  col-sm-12 table-responsive" style="font-size: 16px;">
        <table class="table table-striped bord">
            <thead>
            <th class="col-sm-9">Uilisateurs autorisés</th>
            <th>Date</th>
            </thead>

            <tbody>

            <tr>
                <td><!-- on recupere tous les employés-->
                    <select class="col-sm-9">
                        <option>Employé1</option>
                        <option>Employé2</option>
                        <option>Employé3</option>
                        <option>Employé4</option>
                        <option>Employé5</option>
                        <option>Employé6</option>
                        <option>Employé7</option>
                    </select>
                </td>
                <td><input type="text" name="date_deverouillage_produit" value="17/05/2017">
                    <!-- date d'effet du changement, la personne ne saura autorisé d'effectuer des changements sur les produits uniquement le jour précisé-->

                </td>
            </tr>

            </tbody>
        </table>
        <button class="btn btn-default input-sm col-sm-offset-11" style="margin-bottom: 5px;  ">Valider</button>

    </div>
</div>