<div id="chantier">
    <header>
        <div class="toobar">
            <div class="fill">
                <div class="container-fluid">
                    <img src="image/menu/parametres_grand_orange.png">
                    <span style="padding-left: 5px;">Catégorie de produits</span>
                </div>
            </div>
        </div>
    </header>


    <menu-param></menu-param>


    <div class="container-fluid">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <h3 class="col-sm-12">Frais prévisionnels</h3>
        <ng-container *ngIf="!frais">

            <form (ngSubmit)=" addFrais()">
                <div class="col-sm-12">
                    <span class="col-sm-3">Taux</span>
                    <input type="text" name="taux" [(ngModel)]="entre.taux" class="col-sm-8">
                    <button type="submit" [disabled]="loading" class="col-sm-1">Ajouter</button>
                </div>
            </form>

        </ng-container>

        <ng-container *ngIf="frais">

            <span class="col-sm-5">taux des frais généraux prévisionnel : </span><span
                class="col-sm-2">{{frais.taux}} %</span>
        </ng-container>

    </div>
</div>