<div id="chantier">

    <my-header [title]='"Licences"' [img]="'image/menu/parametres_grand_orange.png'"></my-header>

    <menu-param></menu-param>


    <div class=" container-fluid ">
        <div *ngIf="!print" class=" col-sm-offset-6" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>


        <div class="col-sm-12">


            <h3>Ajouter une licence</h3>
            <div class="col-sm-12" style="margin-top: 10px;">

                <div class=" table-responsive">
                    <table class="table table-bordered">

                        <tr>
                            <td class="col-sm-3">N° de la clé de licence</td>
                            <td class="col-sm-7"><input type="text" class="col-sm-12" name="numtest"
                                                        [(ngModel)]="model.numtest"></td>
                            <td class="col-sm-2">
                                <button type="submit" (click)="modify(model)" class="col-sm-12 input-sm">Enregistrer
                                </button>
                            </td>

                        </tr>

                    </table>


                </div>
            </div>

            <h3 class="col-sm-12">Vos licences valident</h3>
            <table class="table">

                <tbody>

                <tr *ngFor="let coms of com, let i = index">
                    <td>

                    </td>
                    <td>
                        Nombre d'utilisateur : {{com[i].id_test}}
                    </td>
                    <td>
                        Date de création : {{com[i].datedeb | date: 'dd/MM/yyyy HH:mm'}}
                    </td>
                    <td>
                        Date de validité : {{com[i].datefin | date: 'dd/MM/yyyy HH:mm'}}
                    </td>
                </tr>
                </tbody>


            </table>


        </div><!--fin container fluid-->
    </div><!--fin id-->
</div>