

<div id="chantier">
    <header>

        <div class="toobar">
            <div class="fill">
                <div class="container-fluid">

                    <img src="image/menu/parametres_grand_orange.png">

                    <span style="padding-left: 5px;">Sauvegarde</span>

                </div>
            </div>
        </div>

    </header>


    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li  ><a [routerLink]="['/param_gen']">Agence</a></li>
                    <li ><a [routerLink]="['/cgv']">Conditions vente</a></li>
                    <li ><a [routerLink]="['/fraisprevisionel']">Frais prévisionnels</a></li>
                    <li  class="active"><a [routerLink]="['/sauvegarde']">Sauvegarde</a></li>
                    <li role="presentation" ><a [routerLink]="['/tva']" >TVA</a></li>
                    <li role="presentation" ><a [routerLink]="['/cat_prod']" >Catégories de produits</a></li>
                    <li role="presentation"><a [routerLink]="['/droit_utilisateur']" >Droits utilisateurs</a></li>
                    <li role="presentation"><a [routerLink]="['/deverouillage_prod']" >Dévérouillage produits</a></li>
                    <li role="presentation"><a [routerLink]="['/utilisateur_connect']" >Voir activité utilisateurs</a></li>
                </ul>

            </div>
        </div>
    </nav>





</div>
<div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
    <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
</div>

<h3 class="col-sm-12" >Sauvegarde</h3><!--sauvegarde de la bdd en css, en sql-->


<div class="  col-sm-12 table-responsive bord" style="font-size: 16px;">
    <table class="table table-striped bord">
        <!--<span style="color:red;">Votre devis a été supprimé</span> condition à mettre en ^place lorsuqe le bonton valider à été utiliser pour fair apparaitre le message-->
        <thead><th>Programmer une sauvegarde  <label>
            <input type="checkbox" value="prog_sauvegarde"><!--si on check la box on obtient l'affichage suivant si on décoche ou que l'on ne la coche pas l'affichage qui suit n'est pas apparent ou est grisé -->

        </label></th></thead>
        <tbody >
        <!--créer une boucle conditionnelle pour créer les lignes du tableau
        sauf le select qui est toujours identique
        -->
        <tr>
            <td>Lundi  <label>
                <input type="checkbox" value="lundi"><!--sla box est cochée donc ceci apparait+ on choisit qu'elle jour de sauvegarde, si lundi et une autre programmer la sauvegarde automatique au jour et heure donnée-->

            </label>
            </td>
            <td>Mardi  <label>
                <input type="checkbox" value="mardi"><!--sla box est cochée donc ceci apparait+ on choisit qu'elle jour de sauvegarde, si lundi et une autre programmer la sauvegarde automatique au jour et heurr donnée-->

            </label>
            </td>
            <td>Mercredi  <label>
                <input type="checkbox" value="mercredi"><!--sla box est cochée donc ceci apparait+ on choisit qu'elle jour de sauvegarde, si lundi et une autre programmer la sauvegarde automatique au jour et heure donnée-->

            </label>
            </td>
            <td>Jeudi  <label>
                <input type="checkbox" value="jeudi"><!--sla box est cochée donc ceci apparait+ on choisit qu'elle jour de sauvegarde, si lundi et une autre programmer la sauvegarde automatique au jour et heure donnée-->

            </label>
            </td>
            <td>Vendredi <label>
                <input type="checkbox" value="vendredi"><!--sla box est cochée donc ceci apparait+ on choisit qu'elle jour de sauvegarde, si lundi et une autre programmer la sauvegarde automatique au jour et heure donnée-->

            </label>
            </td>
            <td>Samedi  <label>
                <input type="checkbox" value="samedi"><!--sla box est cochée donc ceci apparait+ on choisit qu'elle jour de sauvegarde, si lundi et une autre programmer la sauvegarde automatique au jour et heure donnée-->
            </label>
            </td>
            <td>Dimanche  <label>
                <input type="checkbox" value="dimanche"><!--sla box est cochée donc ceci apparait+ on choisit qu'elle jour de sauvegarde, si lundi et une autre programmer la sauvegarde automatique au jour et heure donnée-->
            </label>
            </td>
        </tr>
        <tr>
            <td><!--lundi-->
                <select id="day_sauvegarde">
                    <option value="valeur1">00.00</option>
                    <option value="valeur2" selected>00.30</option>
                    <option value="valeur3">01.00</option>
                    <option value="valeur1">01.30</option>
                    <option value="valeur2" selected>02.00</option>
                    <option value="valeur3">02.30</option>
                    <option value="valeur1">03.00</option>
                    <option value="valeur2" selected>03.30</option>
                    <option value="valeur3">04.00</option>
                    <option value="valeur1">04.30</option>
                    <option value="valeur2" selected>05.30</option>
                    <option value="valeur3">06.00</option>
                    <option value="valeur1">06.30</option>
                    <option value="valeur2" selected>07.30</option>
                    <option value="valeur3">08.00</option>
                    <option value="valeur1">08.30</option>
                    <option value="valeur2" selected>09.00</option>
                    <option value="valeur3">09.30</option>
                    <option value="valeur1">10.00</option>
                    <option value="valeur2" selected>10.30</option>
                    <option value="valeur3">11.00</option>
                    <option value="valeur1">11.30</option>
                    <option value="valeur2" selected>12.00</option>
                    <option value="valeur3">12.30</option>
                    <option value="valeur1">13.00</option>
                    <option value="valeur2" selected>13.30</option>
                    <option value="valeur3">14.00</option>
                    <option value="valeur1">14.30</option>
                    <option value="valeur2" selected>15.00</option>
                    <option value="valeur3">15.30</option>
                    <option value="valeur1">16.00</option>
                    <option value="valeur2" selected>16.30</option>
                    <option value="valeur3">17.00</option>
                    <option value="valeur1">17.30</option>
                    <option value="valeur2" selected>18.00</option>
                    <option value="valeur3">18.30</option>
                    <option value="valeur1">19.00</option>
                    <option value="valeur2" selected>19.30</option>
                    <option value="valeur3">20.00</option>
                    <option value="valeur1">20.30</option>
                    <option value="valeur2" selected>21.00</option>
                    <option value="valeur3">21.30</option>
                    <option value="valeur1">22.00</option>
                    <option value="valeur2" selected>22.30</option>
                    <option value="valeur3">23.00</option>
                    <option value="valeur1">23.30</option>


                </select>
            </td>

            <td><!--mardi-->
                <select id="day_sauvegarde">
                    <option value="valeur1">00.00</option>
                    <option value="valeur2" selected>00.30</option>
                    <option value="valeur3">01.00</option>
                    <option value="valeur1">01.30</option>
                    <option value="valeur2" selected>02.00</option>
                    <option value="valeur3">02.30</option>
                    <option value="valeur1">03.00</option>
                    <option value="valeur2" selected>03.30</option>
                    <option value="valeur3">04.00</option>
                    <option value="valeur1">04.30</option>
                    <option value="valeur2" selected>05.30</option>
                    <option value="valeur3">06.00</option>
                    <option value="valeur1">06.30</option>
                    <option value="valeur2" selected>07.30</option>
                    <option value="valeur3">08.00</option>
                    <option value="valeur1">08.30</option>
                    <option value="valeur2" selected>09.00</option>
                    <option value="valeur3">09.30</option>
                    <option value="valeur1">10.00</option>
                    <option value="valeur2" selected>10.30</option>
                    <option value="valeur3">11.00</option>
                    <option value="valeur1">11.30</option>
                    <option value="valeur2" selected>12.00</option>
                    <option value="valeur3">12.30</option>
                    <option value="valeur1">13.00</option>
                    <option value="valeur2" selected>13.30</option>
                    <option value="valeur3">14.00</option>
                    <option value="valeur1">14.30</option>
                    <option value="valeur2" selected>15.00</option>
                    <option value="valeur3">15.30</option>
                    <option value="valeur1">16.00</option>
                    <option value="valeur2" selected>16.30</option>
                    <option value="valeur3">17.00</option>
                    <option value="valeur1">17.30</option>
                    <option value="valeur2" selected>18.00</option>
                    <option value="valeur3">18.30</option>
                    <option value="valeur1">19.00</option>
                    <option value="valeur2" selected>19.30</option>
                    <option value="valeur3">20.00</option>
                    <option value="valeur1">20.30</option>
                    <option value="valeur2" selected>21.00</option>
                    <option value="valeur3">21.30</option>
                    <option value="valeur1">22.00</option>
                    <option value="valeur2" selected>22.30</option>
                    <option value="valeur3">23.00</option>
                    <option value="valeur1">23.30</option>


                </select>
            </td>
            <td><!--mercredi-->
                <select id="day_sauvegarde">
                    <option value="valeur1">00.00</option>
                    <option value="valeur2" selected>00.30</option>
                    <option value="valeur3">01.00</option>
                    <option value="valeur1">01.30</option>
                    <option value="valeur2" selected>02.00</option>
                    <option value="valeur3">02.30</option>
                    <option value="valeur1">03.00</option>
                    <option value="valeur2" selected>03.30</option>
                    <option value="valeur3">04.00</option>
                    <option value="valeur1">04.30</option>
                    <option value="valeur2" selected>05.30</option>
                    <option value="valeur3">06.00</option>
                    <option value="valeur1">06.30</option>
                    <option value="valeur2" selected>07.30</option>
                    <option value="valeur3">08.00</option>
                    <option value="valeur1">08.30</option>
                    <option value="valeur2" selected>09.00</option>
                    <option value="valeur3">09.30</option>
                    <option value="valeur1">10.00</option>
                    <option value="valeur2" selected>10.30</option>
                    <option value="valeur3">11.00</option>
                    <option value="valeur1">11.30</option>
                    <option value="valeur2" selected>12.00</option>
                    <option value="valeur3">12.30</option>
                    <option value="valeur1">13.00</option>
                    <option value="valeur2" selected>13.30</option>
                    <option value="valeur3">14.00</option>
                    <option value="valeur1">14.30</option>
                    <option value="valeur2" selected>15.00</option>
                    <option value="valeur3">15.30</option>
                    <option value="valeur1">16.00</option>
                    <option value="valeur2" selected>16.30</option>
                    <option value="valeur3">17.00</option>
                    <option value="valeur1">17.30</option>
                    <option value="valeur2" selected>18.00</option>
                    <option value="valeur3">18.30</option>
                    <option value="valeur1">19.00</option>
                    <option value="valeur2" selected>19.30</option>
                    <option value="valeur3">20.00</option>
                    <option value="valeur1">20.30</option>
                    <option value="valeur2" selected>21.00</option>
                    <option value="valeur3">21.30</option>
                    <option value="valeur1">22.00</option>
                    <option value="valeur2" selected>22.30</option>
                    <option value="valeur3">23.00</option>
                    <option value="valeur1">23.30</option>


                </select>
            </td>
            <td><!--jeudi-->
                <select id="day_sauvegarde">
                    <option value="valeur1">00.00</option>
                    <option value="valeur2" selected>00.30</option>
                    <option value="valeur3">01.00</option>
                    <option value="valeur1">01.30</option>
                    <option value="valeur2" selected>02.00</option>
                    <option value="valeur3">02.30</option>
                    <option value="valeur1">03.00</option>
                    <option value="valeur2" selected>03.30</option>
                    <option value="valeur3">04.00</option>
                    <option value="valeur1">04.30</option>
                    <option value="valeur2" selected>05.30</option>
                    <option value="valeur3">06.00</option>
                    <option value="valeur1">06.30</option>
                    <option value="valeur2" selected>07.30</option>
                    <option value="valeur3">08.00</option>
                    <option value="valeur1">08.30</option>
                    <option value="valeur2" selected>09.00</option>
                    <option value="valeur3">09.30</option>
                    <option value="valeur1">10.00</option>
                    <option value="valeur2" selected>10.30</option>
                    <option value="valeur3">11.00</option>
                    <option value="valeur1">11.30</option>
                    <option value="valeur2" selected>12.00</option>
                    <option value="valeur3">12.30</option>
                    <option value="valeur1">13.00</option>
                    <option value="valeur2" selected>13.30</option>
                    <option value="valeur3">14.00</option>
                    <option value="valeur1">14.30</option>
                    <option value="valeur2" selected>15.00</option>
                    <option value="valeur3">15.30</option>
                    <option value="valeur1">16.00</option>
                    <option value="valeur2" selected>16.30</option>
                    <option value="valeur3">17.00</option>
                    <option value="valeur1">17.30</option>
                    <option value="valeur2" selected>18.00</option>
                    <option value="valeur3">18.30</option>
                    <option value="valeur1">19.00</option>
                    <option value="valeur2" selected>19.30</option>
                    <option value="valeur3">20.00</option>
                    <option value="valeur1">20.30</option>
                    <option value="valeur2" selected>21.00</option>
                    <option value="valeur3">21.30</option>
                    <option value="valeur1">22.00</option>
                    <option value="valeur2" selected>22.30</option>
                    <option value="valeur3">23.00</option>
                    <option value="valeur1">23.30</option>


                </select>
            </td>
            <td><!--vendredi-->
                <select id="day_sauvegarde">
                    <option value="valeur1">00.00</option>
                    <option value="valeur2" selected>00.30</option>
                    <option value="valeur3">01.00</option>
                    <option value="valeur1">01.30</option>
                    <option value="valeur2" selected>02.00</option>
                    <option value="valeur3">02.30</option>
                    <option value="valeur1">03.00</option>
                    <option value="valeur2" selected>03.30</option>
                    <option value="valeur3">04.00</option>
                    <option value="valeur1">04.30</option>
                    <option value="valeur2" selected>05.30</option>
                    <option value="valeur3">06.00</option>
                    <option value="valeur1">06.30</option>
                    <option value="valeur2" selected>07.30</option>
                    <option value="valeur3">08.00</option>
                    <option value="valeur1">08.30</option>
                    <option value="valeur2" selected>09.00</option>
                    <option value="valeur3">09.30</option>
                    <option value="valeur1">10.00</option>
                    <option value="valeur2" selected>10.30</option>
                    <option value="valeur3">11.00</option>
                    <option value="valeur1">11.30</option>
                    <option value="valeur2" selected>12.00</option>
                    <option value="valeur3">12.30</option>
                    <option value="valeur1">13.00</option>
                    <option value="valeur2" selected>13.30</option>
                    <option value="valeur3">14.00</option>
                    <option value="valeur1">14.30</option>
                    <option value="valeur2" selected>15.00</option>
                    <option value="valeur3">15.30</option>
                    <option value="valeur1">16.00</option>
                    <option value="valeur2" selected>16.30</option>
                    <option value="valeur3">17.00</option>
                    <option value="valeur1">17.30</option>
                    <option value="valeur2" selected>18.00</option>
                    <option value="valeur3">18.30</option>
                    <option value="valeur1">19.00</option>
                    <option value="valeur2" selected>19.30</option>
                    <option value="valeur3">20.00</option>
                    <option value="valeur1">20.30</option>
                    <option value="valeur2" selected>21.00</option>
                    <option value="valeur3">21.30</option>
                    <option value="valeur1">22.00</option>
                    <option value="valeur2" selected>22.30</option>
                    <option value="valeur3">23.00</option>
                    <option value="valeur1">23.30</option>


                </select>
            <td><!--samedi-->
                <select id="day_sauvegarde">
                    <option value="valeur1">00.00</option>
                    <option value="valeur2" selected>00.30</option>
                    <option value="valeur3">01.00</option>
                    <option value="valeur1">01.30</option>
                    <option value="valeur2" selected>02.00</option>
                    <option value="valeur3">02.30</option>
                    <option value="valeur1">03.00</option>
                    <option value="valeur2" selected>03.30</option>
                    <option value="valeur3">04.00</option>
                    <option value="valeur1">04.30</option>
                    <option value="valeur2" selected>05.30</option>
                    <option value="valeur3">06.00</option>
                    <option value="valeur1">06.30</option>
                    <option value="valeur2" selected>07.30</option>
                    <option value="valeur3">08.00</option>
                    <option value="valeur1">08.30</option>
                    <option value="valeur2" selected>09.00</option>
                    <option value="valeur3">09.30</option>
                    <option value="valeur1">10.00</option>
                    <option value="valeur2" selected>10.30</option>
                    <option value="valeur3">11.00</option>
                    <option value="valeur1">11.30</option>
                    <option value="valeur2" selected>12.00</option>
                    <option value="valeur3">12.30</option>
                    <option value="valeur1">13.00</option>
                    <option value="valeur2" selected>13.30</option>
                    <option value="valeur3">14.00</option>
                    <option value="valeur1">14.30</option>
                    <option value="valeur2" selected>15.00</option>
                    <option value="valeur3">15.30</option>
                    <option value="valeur1">16.00</option>
                    <option value="valeur2" selected>16.30</option>
                    <option value="valeur3">17.00</option>
                    <option value="valeur1">17.30</option>
                    <option value="valeur2" selected>18.00</option>
                    <option value="valeur3">18.30</option>
                    <option value="valeur1">19.00</option>
                    <option value="valeur2" selected>19.30</option>
                    <option value="valeur3">20.00</option>
                    <option value="valeur1">20.30</option>
                    <option value="valeur2" selected>21.00</option>
                    <option value="valeur3">21.30</option>
                    <option value="valeur1">22.00</option>
                    <option value="valeur2" selected>22.30</option>
                    <option value="valeur3">23.00</option>
                    <option value="valeur1">23.30</option>


                </select>

            </td>
            <td><!--dimannche-->
                <select id="day_sauvegarde">
                    <option value="valeur1">00.00</option>
                    <option value="valeur2" selected>00.30</option>
                    <option value="valeur3">01.00</option>
                    <option value="valeur1">01.30</option>
                    <option value="valeur2" selected>02.00</option>
                    <option value="valeur3">02.30</option>
                    <option value="valeur1">03.00</option>
                    <option value="valeur2" selected>03.30</option>
                    <option value="valeur3">04.00</option>
                    <option value="valeur1">04.30</option>
                    <option value="valeur2" selected>05.30</option>
                    <option value="valeur3">06.00</option>
                    <option value="valeur1">06.30</option>
                    <option value="valeur2" selected>07.30</option>
                    <option value="valeur3">08.00</option>
                    <option value="valeur1">08.30</option>
                    <option value="valeur2" selected>09.00</option>
                    <option value="valeur3">09.30</option>
                    <option value="valeur1">10.00</option>
                    <option value="valeur2" selected>10.30</option>
                    <option value="valeur3">11.00</option>
                    <option value="valeur1">11.30</option>
                    <option value="valeur2" selected>12.00</option>
                    <option value="valeur3">12.30</option>
                    <option value="valeur1">13.00</option>
                    <option value="valeur2" selected>13.30</option>
                    <option value="valeur3">14.00</option>
                    <option value="valeur1">14.30</option>
                    <option value="valeur2" selected>15.00</option>
                    <option value="valeur3">15.30</option>
                    <option value="valeur1">16.00</option>
                    <option value="valeur2" selected>16.30</option>
                    <option value="valeur3">17.00</option>
                    <option value="valeur1">17.30</option>
                    <option value="valeur2" selected>18.00</option>
                    <option value="valeur3">18.30</option>
                    <option value="valeur1">19.00</option>
                    <option value="valeur2" selected>19.30</option>
                    <option value="valeur3">20.00</option>
                    <option value="valeur1">20.30</option>
                    <option value="valeur2" selected>21.00</option>
                    <option value="valeur3">21.30</option>
                    <option value="valeur1">22.00</option>
                    <option value="valeur2" selected>22.30</option>
                    <option value="valeur3">23.00</option>
                    <option value="valeur1">23.30</option>


                </select>
            </td>
        </tr>
        <tr>
            <td>Sauvegarde immédiate  <label>
                <input type="checkbox" value="sauvegarde_immediate"><!--on execute la sauvegarde de suite-->
            </label>
            </td>
        </tr>


        </tbody>
    </table>
    <button class="btn btn-default input-sm col-sm-offset-11" style="margin-bottom: 5px;  ">Valider</button>
