<div id="chantier">

    <my-header [title]='"TVA"' [img]="'image/menu/parametres_grand_orange.png'"></my-header>

    <menu-param></menu-param>


    <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
        <a [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span
            class="blan1">Retour accueil</span>
    </div>


    <h3 class="col-sm-12">TVA</h3>


    <div class="  col-sm-12 table-responsive" style="font-size: 16px;">
        <table class="table table-striped ">
            <!--<span style="color:red;">Votre devis a été supprimé</span> condition à mettre en ^place lorsuqe le bonton valider à été utiliser pour fair apparaitre le message-->
            <thead>
            <th>Libellé</th>
            <th>Taux en %</th>
            <th>Action</th>
            </thead>
            <tbody>
            <tr *ngFor="let facts of fact">
                <td>{{facts.Libelle_tva}}</td>
                <td><input type="number" name="taux" [(ngModel)]="facts.taux"></td>
                <td>
                    <button type="button" (click)="modify(facts)">Modifier</button>
                </td>
            </tr>


            </tbody>
        </table>
        <button class="btn btn-default input-sm col-sm-offset-11 col-sm-1" style="margin-bottom: 5px;  ">Imprimer
        </button>

    </div>
</div>