<div id="achat">
    <header >

        <div class="toobar">
            <div class="fill">
                <div class="container-fluid">

                    <img  *ngIf="!print" src="image/menu/produits_grand_gris.png" alt="produit achat">

                    <span  *ngIf="!print">Etat des stocks</span>



                </div>
            </div><!--container-fluid-->
        </div>

        <!--etat des stocks correspond au stock de chaque produit à l'instant T. Ceux-ci doivent être triés par fournisseur-->
    </header>

    <div class=" container-fluid">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <h3>Listing des produits en stock</h3>

        <div class="table-responsive">

            <table class="table  table-bordered" >

                <thead >
                <tr >
                    <th ass="col-sm-1">Référence</th>
                    <th class="col-sm-2">Libellé</th>
                    <th class="col-sm-1">Fournisseur</th>
                    <th class="col-sm-1">Prix achat unitaire</th>
                    <th class="col-sm-1">Stock</th>
                    <th class="col-sm-1">Valeur en €</th>
                    <th class="col-sm-1">Stock mini</th>
                    <th class="col-sm-1">Stock maxi</th>
                    <th class="col-sm-1">Alerte</th><!--si stock inférieur à stock mini faire apparaitre une alerte!!-->
                    <th  *ngIf="!print" class="col-sm-1" colspan="1">action</th>
                    <th class="col-sm-1"></th>
                </tr>
                </thead>
                <tbody  >
                <tr style="background-color: white;" *ngFor="let prod of stock">
                    <td>{{prod.reference}}</td>
                    <td>{{prod.libelle}} {{prod.id_produit}}</td><!--variable-->
                    <td>{{prod.nom}}</td><!--variable-->
                    <td>{{prod.prix_achat}}</td>
                    <td>{{prod.stock}}</td><!--variable-->
                    <td>{{prod.stock * prod.prix_achat | number:'1.0-2'}}</td>
                    <td>{{prod.stockmini}}</td><!--variable-->
                    <td>{{prod.stockmaxi}}</td><!--variable-->
                    <td><span *ngIf="prod.stock < prod.stockmini || prod.stock > prod.stockmaxi" class="glyphicon glyphicon-warning-sign"></span></td><!--variable-->
                    <td  *ngIf="!print && droitsuser.accescom">
                        <button [routerLink]="['/produitachat/'+prod.id_produit+'/'+prod.num_version]"  target="_blank" class="btn btn-default">Ouvrir</button>
                    </td><!--variable-->
                    <td *ngIf="!print && droitsuser.modifcom">
                        <button type="button" class="btn btn-default" data-toggle="modal" (click)="Stockclick(prod.id_produit)" data-whatever="@mdo">modifier stock</button>
                    </td>
                </tr>

                </tbody>

            </table>

        </div>



        <button class="col-sm-offset-10 col-sm-1 btn" type="button" *ngIf="!print && droitsuser.accescom" (click)=" imprimer()">Imprimer</button>
    </div><!--container-fluid-->


</div><!--id achat-->