<div id="achat">

    <my-header [title]='"Liste absences employés"' [img]="'image/menu/planning_grand_gris.png'"></my-header>


    <div class=" container-fluid">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <div *ngIf="!print && droitsuser.accespb || droitsuser.accespc" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a *ngIf="!print"  [routerLink]="['/ajout_abs']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Ajouter une absence</span>
        </div>

        <div class="col-sm-3 " style="margin-top:10px;">
            <form class="form-horizontal" action="#" method="POST">

                <h4 style="color: white;">Recherche :</h4>

                <div class="form-group">
                    <label  class="col-sm-4 control-label">Du: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="date_deb_abs" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-4 control-label">Au : </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="date_fin_abs" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-4 control-label">Employé : </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="categorie" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-4 control-label">Motif : </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="chantier" placeholder="">
                    </div>
                </div>

                <button *ngIf="droitsuser.accespb || droitsuser.accespc" class="btn btn-default input-sm col-sm-offset-7" style="margin-bottom: 5px;  ">Rechercher</button>

            </form>

        </div><!--col-sm-3-->

        <div class="col-sm-9 ">
            <h3>Absence des employés</h3>

            <div class="  col-sm-12 table-responsive">
                <table class="table table-striped taille">
                    <!--les tr et td sont obtenu par la création d'une boucle ou une partie des td peuvent être modifiée c'est pour ça que certains sont dans les values-->
                    <thead>
                    <tr>
                        <th class="col-sm-2">Début</th><th class="col-sm-2">Fin</th><th class="col-sm-2">Employé</th><th class="col-sm-2">Equipe</th><th class="col-sm-2">Motif</th><th class="col-sm-2">Durée</th><th class="col-sm-2">Remarques</th>
                    </tr>
                    </thead>
                    <tbody >


                    <tr><td>02/01/2017</td><td></td><td>02/02/2017</td><td>111</td><td>David Cooper</td><td>Arret de travail</td>
                        <td><textarea name="note_abs_emp"rows="1" class="col-sm-12"></textarea></td>
                        <td>

                            <div class="input-group">
                                <input type="hidden" class="form-control"  name=""><!--variable pour la référence-->
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle input-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">

                                        <li *ngIf="droitsuser.suppb || droitsuser.suppc"><a href="#">Supprimer</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->

                        </td>

                    </tr>


                        </tbody>




</table>
<button *ngIf="droitsuser.accespb || droitsuser.accespc" class="btn btn-default input-sm col-sm-offset-10" style="margin-top: 20px;  ">Imprimer la page</button>


</div><!--div table-->


</div>


</div><!--container-fluid-->


</div><!--id achat-->

