
<div id="achat">
    <header >

        <div class="toobar">
            <div class="fill">
                <div class="container-fluid">

                    <img src="image/menu/planning_grand_gris.png" alt="planning" style="margin-top: 10px;">

                    <span>Intempéries chantiers</span>



                </div>
            </div><!--container-fluid-->
        </div>


    </header>

    <div class=" container-fluid">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <div class="col-sm-3 " style="margin-top:10px;">
            <form class="form-horizontal" action="#" method="POST">

                <h4 style="color: white;">Recherche :</h4>

                <div class="form-group">
                    <label  class="col-sm-4 control-label">Du: </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="date_deb_abs" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-4 control-label">Au : </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="date_fin_abs" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-4 control-label">Chantier : </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="categorie" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-4 control-label">Code : </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="chantier" placeholder="">
                    </div>
                </div>

                <button *ngIf="droitsuser.accespc" class="btn btn-default input-sm col-sm-offset-7" style="margin-bottom: 5px;  ">Rechercher</button>

            </form>

        </div><!--col-sm-3-->

        <div class="col-sm-9 bordure4">
            <div *ngIf="!print" class=" col-sm-offset-7" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
                <a *ngIf="!print && droitsuser.ajoutpc" [routerLink]="['/new_int']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Nouveau dossier intempéries chantier</span>
            </div>
            <h3>Intempéries chantier</h3>


            <div class=" table-responsive " >
                <table class="table table-striped " style="margin-top: 10px;">
                    <thead style="color: white; background-color: #993300; ">

                    <th class=" col-sm-1">Dossier n°</th>
                    <th class=" col-sm-1">Chantier</th>
                    <th class=" col-sm-1">Code</th>
                    <th class=" col-sm-1">Début</th>
                    <th class=" col-sm-1">Fin</th>
                    <th class=" col-sm-1">H 100%</th>
                    <th class=" col-sm-1">35h->39h</th>
                    <th class=" col-sm-1">40h->43h</th>
                    <th class=" col-sm-1">>43h</th>
                    <th class="col-sm-1">Paniers</th>
                    <th class="col-sm-1">Coût</th>



                    </thead>

                    <tbody>
                    <tr>
                        <td class="col-sm-1">David Cooper</td>
                        <td class="col-sm-1"><input type="checkbox" value="select"></td>
                        <td class="col-sm-1"><input type="text" name="suivi_sem" value="13" class="col-sm-12"/></td>
                        <td class="col-sm-1">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle input-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Journées  <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" target="_blank">lun 01/04/17</a></li><!--ouvrir en un PDF-->
                                    <li><a href="#" target="_blank">mar 02/04/17</a></li>
                                    <li><a href="#" target="_blank">mer 03/04/17</a></li>


                                    <li><a href="#" target="_blank">jeu 04/04/17</a></li>
                                    <li><a href="#" target="_blank">ven 050/04/17</a></li>


                            </ul>
                            </div><!--creer boucle variable a recuperer dans bdd-->
                        </td>



                        <td class="col-sm-1">08.00</td>
                        <td class="col-sm-1"> 07.00</td>

                        <td class="col-sm-1">01.00</td>
                        <td class="col-sm-1">00.00</td>
                        <td class="col-sm-1">00.00</td>

                        <td class="col-sm-1">11.05€</td>
                        <td class="col-sm-1">171.00€</td>

                    </tr>

                    <tr>
                        <td class="col-sm-1">David Cooper</td>
                        <td class="col-sm-1"><input type="checkbox" value="select"></td>
                        <td class="col-sm-1"><input type="text" name="suivi_sem" value="13" class="col-sm-12"/></td>
                        <td class="col-sm-1">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle input-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Journées  <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" target="_blank">lun 01/04/17</a></li><!--ouvrir en un PDF-->
                                    <li><a href="#" target="_blank">mar 02/04/17</a></li>
                                    <li><a href="#" target="_blank">mer 03/04/17</a></li>


                                    <li><a href="#" target="_blank">jeu 04/04/17</a></li>
                                    <li><a href="#" target="_blank">ven 050/04/17</a></li>

                                </ul>
                            </div>
                        </td>


                        <td class="col-sm-1">08.00</td>
                        <td class="col-sm-1"> 07.00</td>

                        <td class="col-sm-1">01.00</td>
                        <td class="col-sm-1">00.00</td>
                        <td class="col-sm-1">00.00</td>
                        <td class="col-sm-1">11.05€</td>
                        <td class="col-sm-1">171.00€</td>
                    </tr>
                    </tbody>
                </table>
                <div class="table responsive">
                    <table class="table table-striped ">




                        <th class="col-sm-1">TOTAL</th>
                        <th class="col-sm-1"></th>
                        <th class="col-sm-1"></th>
                        <th class="col-sm-1"></th>
                        <th class="col-sm-1">48</th>
                        <th class="col-sm-1">42.00</th>
                        <th class="col-sm-1"> 06.00</th>


                        <th class="col-sm-1">00.00</th>
                        <th class="col-sm-1">00.00</th>
                        <th class="col-sm-1">55.25€</th>
                        <th class="col-sm-1">171.00€</th>



                    </table>

                </div><!--div table-->


            </div>
            <button *ngIf="droitsuser.accespc" class="btn btn-default input-sm col-sm-offset-11" style="margin-top: 20px;  ">Imprimer la page</button>

        </div><!--container-fluid-->


    </div><!--id achat-->
</div>