<div id="contact">

    <my-header *ngIf="!print" [title]='"Contacts"' [img]="'image/menu/contacts_grand_gris.png'"></my-header>


    <div class=" container-fluid">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <button class="col-sm-offset-10 col-sm-1 btn" type="button" *ngIf="!print && droitsuser.accescontact"  (click)=" imprimer()">Imprimer</button>


        <div *ngIf="!print" class="col-sm-3 " >
            <rechercheContact #recherche [liste] = "this" ></rechercheContact>
        </div>

        <h3 class="col-sm-9">Liste des contacts</h3>

        <article class="">

            <div class=" col-sm-9 ">



                <table class="table table-striped">
                    <!--<span style="color:red;">Votre devis a été supprimé</span> condition à mettre en ^place lorsuqe le bonton valider à été utiliser pour fair apparaitre le message-->
                    <thead><th>Nom / Prénom</th><th>Raison sociale</th><th>Type</th><th>Mail</th><th>Téléphone</th><th>Adresse</th><th>Code postal</th><th>Ville</th><th *ngIf="!print">Action</th></thead>

                    <tbody >
                    <!--créer une boucle conditionnelle pour créer les lignes du tableau en fonction du type selectionné à savoir tous, employé, sous-traitant, client.....
                     sauf le select qui est toujours identique
                     puis peut-être affinée avec la recherche pour obtenir une liste encore plus selective
                     -->
                     <tr *ngFor="let contact of filteredContacts">
                           <td>{{contact.nom}} {{contact.prenom}}</td>
                           <td>{{contact.raison_sociale}}</td>
                           <td>{{contact.type}}</td>
                           <td>{{contact.mail}}</td>
                           <td>{{contact.tel}}</td>
                           <td>{{contact.cadresse}}</td>
                           <td>{{contact.ccp}}</td>
                           <td>{{contact.cville}}</td>
                           <td><div class="input-group">
                               <input type="hidden" class="form-control"  [name]="contact._id">
                               <div class="input-group-btn">
                                   <button *ngIf="!print" type="button" class="btn btn-default dropdown-toggle input-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                                   <ul class="dropdown-menu dropdown-menu-right">
                                       <li *ngIf="droitsuser.modifcontact"><a [routerLink]="contact.type == 'Client' ? ['/ficheclient/'+contact.id_contact] : ['/fichecontact/'+contact.id_contact]" >Ouvrir / Modifier</a></li>
                                       <li *ngIf="droitsuser.supcontact" role="separator" class="divider"></li>
                                       <li *ngIf="droitsuser.supcontact"><a (click)="deleteContact(contact)">Supprimer</a></li>
                                   </ul>
                               </div><!-- /btn-group -->
                           </div><!-- /input-group --></td>
                     </tr>

                    </tbody>

                </table>

            </div>
        </article>

    </div>

</div>
