
<div id="contact">

    <my-header *ngIf="!print" [title]='"Contacts"' [img]="'image/menu/contacts_grand_gris.png'"></my-header>


    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!--garder l'id du chantier en passant d'un onglet à l'autre possibilité peut-être d'un session ou d'un cookie qui disppait à la fermeture de la page-->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li *ngIf="droitsuser.accescontact"><a [routerLink]="['/ficheclient' , id_contact]">Fiche client</a></li>
                    <li *ngIf="droitsuser.accescontact" role="presentation" class="active"><a [routerLink]="['/devisclient' , id_contact]">Devis du client</a></li>
                    <li *ngIf="droitsuser.accescontact" role="presentation" class="active"><a [routerLink]="['/factclient' , id_contact]">Factures du client</a></li>

                </ul>

            </div>
        </div>
    </nav>


    <div class=" container-fluid">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>


        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr >
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Date d'échéance</th>
                </tr>

                <tr *ngFor="let factures of facture">
                    <td>{{factures.nom}}</td>
                    <td>{{factures.prenom}}</td>
                    <td>{{factures.date_fact  | date:'dd-MM-yyyy'}}</td>
                    <td>{{factures.montant_ht}} €</td>
                    <td>{{factures.date_echeance  | date:'dd-MM-yyyy'}}</td>

                    <td><button [routerLink]="!factures.libre ? ['/facture_fini' , factures.id_facture,factures.n_situation] :['/factlibre' , factures.id_facture,factures.n_situation]">Ouvrir</button></td>
                </tr>
                </thead>

            </table>

        </div>


    </div>
</div>