<div id="chantier">

    <my-header [title]='"Ajouter module"' [img]="'image/menu/chantiers_grand_gris.png'"></my-header>


    <div class=" container-fluid ">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <h3>Ajout module</h3>

        <form  class="col-sm-12" (ngSubmit)=" createChantier()">

            <div class="col-sm-12">

                <h5>Informations générales module</h5>

                <div class="form-group">
                    <span class="col-sm-1 col-sm-offset-1  control-label">Nom du client : </span><!--variable-->
                    <span class="col-sm-3">{{model.titre}} {{model.nom}} {{model.prenom}} ({{model.id_contact}})</span><!--variable pour value-->
                </div>

                <div class="form-group">
                    <label class="col-sm-1 col-sm-offset-3  control-label" >* Nom du module: </label><!--variable-->
                    <div  >
                         <input type="text" style="border: 2px solid red" name="nom_chantier"  class="col-sm-3" [(ngModel)]="model.nom_chantier" required /> <!--variable pour value-->
                    </div>
                </div>
                <br>

                <div class="form-group">
                    <label class="col-sm-1 col-sm-offset-1 control-label" >Adresse chantier : </label>
                    <div >
                        <input type="text" name="adresse"  class="col-sm-9" [(ngModel)]="model.adresse" /><!--variable pour value-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 col-sm-offset-1 control-label" > Code postal: </label>
                    <div >
                        <input type="text" name="reference"  class="col-sm-3" [(ngModel)]="model.cp" /><!--variable pour value-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 col-sm-offset-3 control-label" >Ville : </label>
                    <div >
                        <input type="text" name="ville"  class="col-sm-3" [(ngModel)]="model.ville" /><!--variable pour value-->
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 col-sm-offset-1 control-label" >Responsable : </label>
                    <div >
                        <input type="text" name="responsable"  class="col-sm-3" [(ngModel)]="model.responsable" /><!--variable pour value-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 col-sm-offset-3 control-label" >Téléphone : </label>
                    <div >
                        <input type="text" name="tel"  class="col-sm-3" [(ngModel)]="model.telresponsable" /><!--variable pour value-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 col-sm-offset-1 control-label" >Mobile : </label>
                    <div >
                        <input type="text" name="telresponsablemob"  class="col-sm-3" [(ngModel)]="model.telresponsablemob"/><!--variable pour value-->
                    </div>
                </div>



                    <div class="form-group">
                        <label class="col-sm-1 col-sm-offset-3 control-label" >Date de debut : </label>
                        <div >
                            <input type="date" name="debutprojet"  class="col-sm-3" [(ngModel)]="model.date_demarrage" /><!--variable pour value-->
                        </div>
                    </div>

                <div class="form-group">
                    <label class="col-sm-1 col-sm-offset-1 control-label" >Date de fin</label>
                    <div >
                        <input type="date" name="receptionchantier"  class="col-sm-3" [(ngModel)]="model.reception_chantier" /><!--variable pour value et création d'une alarme quand 1 année c'est passé
								-->
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="col-sm-1 col-sm-offset-3 control-label" >Autre contact : </label>
                    <div class="col-sm-3">
                        <textarea rows="6"  name="autrecontact" [(ngModel)]="model.autrecontact"></textarea>
                        <!--variable pour value-->
                    </div>
                </div>

                <div>
                    <button *ngIf="droitsuser.ajoutcha" type="submit" class="btn btn-default input-sm col-sm-offset-11" [disabled]="loading">Créer</button>

                </div>
            </div>
        </form>

    </div>
</div>