<div id="chantier">

    <menu-chantier></menu-chantier>

    <div class="container-fluid">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <h3 style="margin-top: 50px;">Analyses Main d'oeuvre</h3>

        <div class="table-responsive">
            <table class="table table-bordered">

                <thead>
                <tr>

                    <td>Produits composés</td>
                    <td>Qté P. Comp.</td>
                    <td>Libellé du produit</td>
                    <td>Sté Produit devis</td>
                    <td>Qté totale en min</td>
                    <td>H.T. Produit</td>
                </tr>
                </thead>
                <tbody>


                <tr *ngFor="let prod of model" style="background-color: #9d9d9d;">
                    <td>{{prod.compose}}</td>
                    <td>{{prod.quantite}}</td>
                    <td>{{prod.libelle}}</td>
                    <td>{{prod.qte_devis}}</td>
                    <td>{{qtotal(prod)}}</td>
                    <td>{{calctotal(prod) | number:'1.0-2'}}</td>
                </tr>

                <tr *ngFor="let prods of option" style="background-color: #9d9d9d;">
                    <td>{{prods.compose}}</td>
                    <td>{{prods.quantite}}</td>
                    <td>{{prods.libelle}}</td>
                    <td>{{prods.qte_devis}}</td>
                    <td>{{qtotalopt(prods)}}</td>
                    <td>{{calctotalopt(prods) | number:'1.0-2'}}</td>
                </tr>
                <tr>
                    <td colspan="4">Total</td>
                    <td>{{countTotal(prod,prods) | number:'1.0-2'}}</td>
                    <td>{{ countTotale(prod,prods) | number:'1.0-2'}}</td>
                </tr>
                </tbody>

            </table>
        </div>

    </div>
    <button class="col-sm-offset-10 col-sm-2 btn" type="button" *ngIf="!print"  (click)=" imprimer()">Imprimer</button>


</div><!--id chantier-->