<div id="chantier">

    <my-header *ngIf="!print" [title]='"Chantier"' [img]="'image/menu/chantiers_grand_gris.png'"></my-header>


    <button class="col-sm-offset-10 col-sm-1 btn" type="button" *ngIf="!print"  (click)=" imprimer()">Imprimer le listing</button>

    <div class=" container-fluid ">

        <recherchechantier #recherche [chantier] = "this" ></recherchechantier>

        <div class="col-sm-9 ">
            <div *ngIf="!print" class=" col-sm-offset-6" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
                <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
            </div>
            <h3  >Liste des chantiers en cours</h3>

            <ng-container *ngIf="!date">

                <span>{{my.getDate()}}  {{monthArray[my.getMonth()]}} {{my.getFullYear()}}</span>



                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

            </ng-container>
            <div>
                <span style="font-weight: bold;" class="col-sm-2 col-sm-offset-7">Total devis :</span><span class="col-sm-1"> {{countDevis() | number:'1.0-2'}}</span>
                <span style="font-weight: bold;" class="col-sm-2 col-sm-offset-7">Total situation :</span><span class="col-sm-1"> {{countFacture() | number:'1.0-2'}}</span>
            </div>



            <div  style="height: 400px;">
                <table class="table table-striped bord">
                    <thead>
                    <tr>

                        <th class="col-sm-2">Client</th><th class="col-sm-3">Chantier</th><th class="col-sm-1">Code</th><th>Date démarrage</th><th class="col-sm-2">Lieu</th><th class="col-sm-1">Statut</th><th class="col-sm-1">Devis HT</th><th class="col-sm-1">Total HT situation</th><th class="col-sm-1"  *ngIf="!print">Action</th>
                    </tr>
                    <br>
                    </thead>
                    <tbody >
                    <!--créer une boucle conditionnelle pour créer les lignes du tableau

                    le tableau étant la copie du tr qui suit
                    les tr qu'il y a, sont des exemples pour montrer la redondance du tableau
                    chaque td est une variable qui se trouve dans la bdd
                    lorsqu'on clique sur client alors une fenetre s'ouvre sur la fiche du client
                    -->
                    <tr *ngFor="let chantiers of cmois">
                        <td>{{chantiers.nom}}</td>
                        <td>{{chantiers.nom_chantier}}</td>
                        <td>{{chantiers.id_chantier}}</td>
                        <td>{{chantiers.date_demarrage | date:'yyyy-MM-dd'}}</td>

                        <td>{{chantiers.ville}}</td>
                        <td>{{chantiers.status}}</td>
                        <td>{{chantiers.total| number:'1.0-2'}}</td>
                        <td>{{chantiers.montantfact | number:'1.0-2'}}</td>
                        <td  *ngIf="!print"><div class="input-group">
                            <input type="hidden" class="form-control">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle input-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right" >

                                    <li *ngIf="droitsuser.accescha"><a [routerLink]="['/fichechantier' , chantiers.id_chantier]">Ouvrir</a></li>
                                    <li *ngIf="droitsuser.accescha"><a [routerLink]="['/gestionproj' , chantiers.id_chantier]">Gestion</a></li>

                                </ul>
                            </div><!-- /btn-group -->
                        </div><!-- /input-group --></td>

                    </tr>

                </table>
            </div>
        </div><!--fin col sm 9-->


        <!--Javascript pour nav et bouton-->
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="js/bootstrap.min.js"></script>


    </div>

</div>