<div id="chantier">

    <menu-chantier></menu-chantier>

    <div class=" container-fluid col-sm-8 col-sm-offset-2">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <div class="table-responsive" style="height: 250px;margin-bottom: 0;">

            <table class="table table-striped col-sm-12 " style="border:1px solid black;margin-bottom: 0;">

                <thead >
                <tr>
                    <th class="col-sm-6">Main Oeuvre du devis</th>
                    <th class="col-sm-3">Heures</th>
                    <th class="col-sm-3">H.T. en €</th>
                </tr>
                </thead>

                    <tbody >
                    <!--les 2 tr qui suivent, sont créés à partir d'un boucle qui est l'ensemble des heures passé sur le chantier donc en corélation avec le planning chantier-->

                    <tr *ngFor="let opti of opt">
                        <ng-container *ngIf="opti.salaire_charge>0">
                            <td>{{opti.libelle}}</td>
                            <td>{{opti.quantite}}</td>
                            <td>{{calctotalopt(opti) | number:'1.0-2'}}</td>
                        </ng-container>
                    </tr>
                    <tr *ngFor="let prods of model">
                        <ng-container *ngIf="prods.salaire_charge>0">
                            <td>{{prods.libelle}}</td>
                            <td>{{prods.quantite}}</td>
                            <td>{{calctotal(prods) | number:'1.0-2'}}</td>
                        </ng-container>
                    </tr>

                </tbody>

            </table>
        </div>

        <div  class="table-responsive" >
            <table class="table table-striped col-sm-12 " style="border:1px solid black;margin-bottom: 0; margin-top:0;">
                <tbody>
                <tr>
                    <td colspan="2">Total : </td>
                    <td>{{countTotalmain() | number:'1.0-2'}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div  class="table-responsive" style="height: 250px;">
            <table class="table table-striped" style="border: 1px solid black; border-bottom:1px solid black; margin-top: 10px;height: 50px;">
                <thead>
                <tr>
                    <th class="col-sm-6">Produits du devis</th>
                    <th class=" col-sm-offset-3  "></th>
                    <th class=" col-sm-3 ">H.T. en €</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let prod of model">
                    <ng-container *ngIf="prod.id_contact>0">
                        <td>{{prod.libelle}}</td>
                        <td>{{prod.quantite}}</td>
                        <td>{{totalproduit(prod) | number:'1.0-2'}}</td>
                    </ng-container>
                </tr>

                <tr *ngFor="let opts of opt" style="border-bottom: 1px solid black;">
                    <ng-container *ngIf="opts.id_contact>0">
                        <td>{{opts.libelle}}</td>
                        <td>{{opts.quantite}}</td>
                        <td>{{totalproduitopt(opts) | number:'1.0-2'}}</td>
                    </ng-container>
                </tr>

                </tbody>
            </table>
        </div>

        <div  class="table-responsive" >
            <table class="table table-striped col-sm-12 " style="border:1px solid black;margin-bottom: 0;">
                <tbody>
                <tr>
                    <td colspan="2">Total : </td>
                    <td>{{countTotalpds() | number:'1.0-2'}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table-responsive" style="margin-top:15px;">
            <table class="table">
                <thead>
                <tr>
                    <th colspan="11">Total :</th>
                    <th  style="padding-left: 0;">{{countTotal() | number:'1.0-2'}}</th>
                </tr>
                </thead>
            </table>
        </div>

        <button class="col-sm-offset-10 col-sm-2 btn" type="button" *ngIf="!print && droitsuser.accescha" (click)=" imprimer()">Imprimer</button>

    </div><!--fin container fluid-->
</div>