<div id="chantier">

    <menu-chantier></menu-chantier>

    <div class=" container-fluid ">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <h3>Dépenses réelles</h3>

        <div class="table-responsive">

            <table class="table ">

                <thead>
                <th class="col-sm-2">Date</th>
                <th class="col-sm-3">Fournisseur/Employé</th>
                <th class="col-sm-5">Motif</th>
                <th class="col-sm-2">Montant en €</th>
                </thead>
            </table>
        </div>
        <div class="table-responsive" style="height: 250px;">
            <table class="table table-striped " >

                <tbody >

                <tr *ngFor="let prod of model">
                    <ng-container *ngIf="prod.id_bdc>0">
                    <td class="col-sm-2">{{prod.date_livraison_reel | date:'dd-MM-yyyy'}}</td>
                    <td class="col-sm-3">{{prod.nom}}</td>
                    <td class="col-sm-5">{{prod.id_bdc ? "BDC n° " + prod.id_bdc :""}}  {{prod.libelle}}</td>
                    <td class="col-sm-2">{{(prod.tarifpourlivraisonreel ?(prod.tarifpourlivraisonreel  + prod.total) : prod.total) | number:'1.0-2'}}</td>
                    </ng-container>
                </tr>

                <tr *ngFor="let prod of modellibre">
                    <ng-container *ngIf="prod.id_bdc>0">
                        <td class="col-sm-2">{{prod.date_livraison_reel | date:'dd-MM-yyyy'}}</td>
                        <td class="col-sm-3">{{prod.nom}}</td>
                        <td class="col-sm-5">{{prod.id_bdc ? "BDC n° " + prod.id_bdc +" produits non référencés" :""}}  {{prod.libelle}}</td>
                        <td class="col-sm-2">{{(prod.tarifpourlivraisonreel ?(prod.tarifpourlivraisonreel  + prod.total) : prod.total) | number:'1.0-2'}}</td>
                    </ng-container>
                </tr>


                <tr *ngFor="let mains of main">
                    <td class="col-sm-2">{{mains.date | date:'dd-MM-yyyy'}}</td>
                    <td class="col-sm-3">{{mains.nom}}</td>
                    <td class="col-sm-5">{{mains.type_contrat}} : {{mains.nb_heure}}</td>
                    <td class="col-sm-2">{{countMaintest(mains.nb_heure,mains.tauxsurcharge) | number:'1.0-2'}}</td>
                </tr>

                </tbody>

            </table>

        </div>

    </div>

    <div class="container-fluid">

        <div class="table-responsive col-sm-4">
            <h4 class="col-sm-12">Consolidation :</h4>
            <table class="table-bordered col-sm-12">

                <tbody>
                <tr>
                    <td>fournisseur</td>
                    <td> {{countprod() | number:'1.0-2'}}</td>
                    <td>{{countprod() / countSomme() * 100 | number:'1.0-2'}}%</td>
                </tr>
                <tr>
                    <td>MO Employés</td>
                    <td>{{countMain() | number:'1.0-2'}}</td>
                    <td>{{countMain() / countSomme() * 100 | number:'1.0-2'}}%</td><!--pourcentage obtenu entre le montant de la ligne fois 100 / par la somme de tous les sommes du tableau soit la somme du tableau précéden-->
                </tr>
                <tr>
                    <td>MO Intérim</td>
                    <td>{{ countMainI() | number:'1.0-2'}}</td>
                    <td>{{countMainI() / countSomme() *100 | number:'1.0-2'}} %</td>
                </tr>
                </tbody>

            </table>

        </div>

            <!--<div class="table-responsive col-sm-4">

                <table class="table-bordered col-sm-12">
                    <h4>Dernier mois chantier :</h4>

                </table>
            </div>

            <div class="table-responsive col-sm-4">

                <table class="table-bordered col-sm-12">
                    <h4>Heures :</h4>

                </table>
            </div>-->
    </div>
</div>