<div id="chantier">

    <menu-chantier></menu-chantier>

    <div class="container-fluid">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a  [routerLink]="['/new_bdc']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Passer commande</span>
        </div>
        <h3 style="margin-top: 50px;">Prévisions d'achats</h3>

        <div class="table-responsive">
            <table class="table table-bordered">

                <thead>
                <tr>

                    <td>Fournisseur</td>
                    <td>Produits composés</td>
                    <td>Elément de produit</td>
                    <td>Unité</td>
                    <td>Qté P. Comp.</td>
                    <td>Qté Produit devis</td>
                    <td>Qté totale</td>
                    <td>H.T. Produit</td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let prod of model">

                    <td>{{prod.nom}}</td>
                    <td>{{prod.produitvente}}</td>
                    <td>{{prod.libelle}}</td>
                    <td>{{prod.unite}}</td>
                    <td>{{prod.quantite}}</td>
                    <td>{{prod.qte_devis}}</td>
                    <td>{{prod.qte_devis * prod.quantite | number:'1.0-2'}}</td>
                    <td>{{prod.qte_devis * prod.quantite * prod.prix_achat | number:'1.0-2'}}</td>
                </tr>

                <tr *ngFor="let prods of option" style="background-color: #9d9d9d;">

                    <td>{{prods.nom}}</td>
                    <td>{{prods.produitvente}}</td>
                    <td>{{prods.libelle}}</td>
                    <td>{{prods.unite}}</td>
                    <td>{{prods.quantite}}</td>
                    <td>{{prods.qte_devis}}</td>
                    <td>{{prods.quantite*prods.qte_devis | number:'1.0-2'}}</td>
                    <td>{{prods.quantite * prods.qte_devis * prods.prix_achat | number:'1.0-2'}}</td>
                </tr>
                <tr>
                    <td colspan="6">total</td>
                    <td>{{ countqte(option,model) | number:'1.0-2'}}</td>
                    <td>{{countprice(option,model) | number:'1.0-2'}}</td>
                </tr>
                </tbody>

            </table>
        </div>

    </div>

    <button class="col-sm-offset-10 col-sm-2 btn" type="button" *ngIf="!print && droitsuser.accescha" (click)=" imprimer()">Imprimer</button>

</div><!--id chantier-->