<div id="devis">
    <header>

        <div class="toobar">
            <div class="fill">
                <div class="container-fluid">

                    <img *ngIf="!print" src="image/menu/facturation_grand_gris.png">

                    <span *ngIf="!print">Facturation</span>

                </div>
            </div>
        </div>

    </header>

    <div class=" container "  id="pageContent" style="background-color: white;">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <h3 *ngIf="!print" >Avoir</h3>

        <form >

            <fieldset class="separe">
                <div class="row marge">
                    <img *ngIf="!print" src="image/logo_wBAT_horizontal.png"  style="margin-left:100px;">
                </div>
                <!-- ajouter une boucle pour récupérer les différentes variables du devis-->
                <div class="row marge">
                    <img *ngIf="print" src="image/logo_jd.png" class="col-sm-2 col-sm-offset-5" style="text-align: center;margin-left:25%; top:0px; position: absolute;">
                </div>
                <p>&nbsp;</p>

                <div  style="margin-left: 50%;margin-top: 70px;">
                    <div class="form-group" *ngIf="valeur.raison_sociale!=('' || 'null')">
                        <span>{{valeur.raison_sociale}}<!--variable--></span>
                    </div>
                    <div class="form-group" >
                        <span>{{valeur.nom}} {{valeur.prenom}}<!--variable--></span>
                    </div>
                    <div class="form-group">
                        <span >{{valeur.adresse}}<!--variable--></span>
                    </div>
                    <div class="form-group">
                        <span >{{valeur.code_postal}} </span>

                        <span > {{valeur.ville}}<!--variable--></span>
                    </div>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <div class="form-group"  >
                        <span  style="margin-top: 40px;">{{fact.villefact}} , le {{valeur.date_avoir | date: 'dd/MM/yyyy'}}</span>
                    </div>

                </div>

                <div class="col-sm-5">
                    <div class="form-group">
                        <span class="col-sm-5" style="font-weight: bold;">Facture d'avoir N° : </span><span style="font-weight: bold;">{{valeur.id_avoir}}</span>
                    </div>



                </div>

                <div class="col-sm-12" style="margin-top: 25px;">
                    <span style="font-weight: bold;">Infomations additionnelles :</span><br>
                    <span>Facture d'avoir, en remboursemant de la facture N° {{valeur.nfactclient}} </span>
                </div>

            </fieldset>


            <div class="table-responsive">

                <table class="table">

                    <thead>
                    <tr>
                        <th>Référence</th>
                        <th>Libellé</th>
                        <th>P.U.</th>
                        <th>Quantité</th>
                        <th>TVA en %</th>
                        <th>Prix H.T en €</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let prod of produit">
                        <td>{{prod.id_produit}} / {{prod.num_version}}</td>
                        <td>{{prod.libelle}}</td>
                        <td>{{prod.prixfact}}</td>
                        <td>{{prod.qtefact}}</td>
                        <td></td>
                        <td>{{ prod.prixfact * prod.qtefact | number:'1.0-2'}}</td>
                    </tr>

                    <tr *ngFor="let prod of libre">
                        <td>{{prod.id_prod}} </td>
                        <td>{{prod.nom}}</td>
                        <td>{{prod.prix}}</td>
                        <td>{{prod.qte}}</td>
                        <td>{{prod.tva}}</td>
                        <td>{{ prod.prix * prod.qte | number:'1.0-2'}}</td>
                    </tr>

                    <tr class="gras">
                        <td colspan="4"></td>
                        <td>Total H.T en € :</td>
                        <td>- {{countTotalProduit()+ countTotallibre() | number:'1.0-2'}}</td>
                    </tr>

                    <tr class="gras" *ngIf="valeur.remise">
                        <td colspan="4"></td>
                        <td>Total après Remise : {{valeur.remise}} % :</td>
                        <td>- {{countTotallibreremise() | number:'1.0-2'}}</td>
                    </tr>

                    <tr class="gras" *ngIf="valeur.tva">
                        <td colspan="4"></td>
                        <td>TVA  {{valeur.tva}} % :</td>
                        <td>- {{countTva() | number:'1.0-2'}}</td>
                    </tr>

                    <tr *ngIf="TVAV()">
                        <td colspan="4"></td>
                        <td  >TVA 20 % :</td>
                        <td >- {{TVAV() | number:'1.0-2'}}</td>
                    </tr>
                    <tr *ngIf="TVAD()">
                        <td colspan="4"></td>
                        <td  >TVA 10 % :</td>
                        <td >- {{TVAD() | number:'1.0-2'}}</td>
                    </tr>
                    <tr *ngIf="TVAC()">
                        <td colspan="4"></td>
                        <td  >TVA 5.5 % :</td>
                        <td >- {{TVAC() | number:'1.0-2'}}</td>
                    </tr>
                    <tr *ngIf="TVADU()">
                        <td colspan="3"></td>
                        <td  >TVA 2.1 % :</td>
                        <td >- {{TVADU() | number:'1.0-2'}}</td>
                    </tr>
                    <tr *ngIf="TVAZ()">
                        <td colspan="4"></td>
                        <td  >TVA 0 % :</td>
                        <td >- {{TVAZ() | number:'1.0-2'}}</td>
                    </tr>
                    <tr class="gras">
                        <td colspan="4"></td>
                        <td> Total TTC en € :</td>
                        <td>- {{countTotalavoir() | number:'1.0-2'}}</td>
                    </tr>
                    </tbody>


                </table>
            </div>

        </form>

        <div  class="col-sm-12">
            <article  >
                <p>{{fact.pied_page1}}</p>
                <p>{{fact.pied_page2}}</p>
                <p>{{fact.pied_page3}}</p>
                <p>{{fact.pied_page4}}</p>
                <p>{{fact.pied_page5}}</p>
                <p>{{fact.pied_page6}}</p>
            </article>
        </div>

        <button class="col-sm-10 col-sm-2">Imprimer</button>

    </div>
</div>