<div id="devis">

    <my-header *ngIf="!print" [title]='"Facturation"' [img]="'image/menu/facturation_grand_gris.png'"></my-header>


    <div class=" container "  id="pageContent" style="background-color: white;">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <h3 *ngIf="!print" >Editer un avoir</h3>

        <form (submit)="submit()" >

            <fieldset class="separe">
                <div class="row marge">
                    <img *ngIf="!print" [src]="config.logoPath"  style="width: -1000px;height: 100px;">
                </div>
                <!-- ajouter une boucle pour récupérer les différentes variables du devis-->
                <div *ngIf="uploaderImg"  style="text-align: center;margin-left:10%;  heigh:auto; position: relative;">
                    <div *ngIf="print">
                        <img *ngIf="url" [src]="url" alt="..." class="img-responsive col-sm-12"/>
                        <img *ngIf="!url && img.image" style="height: 150px; width: 300px;"
                             src="http://{{loc}}:4000/image/agence/{{img.id_agence}}/{{img.image}}" alt="..."
                             class="img-responsive col-sm-12"/>

                        <!--<input type="file" ng2FileSelect [uploader]="uploaderImg" (change)="readUrl($event)"/>-->
                    </div>
                </div>
                <p>&nbsp;</p>

                <div  style="margin-left: 50%;margin-top: 70px;">
                    <div class="form-group" *ngIf="model.raison_sociale!=('' || 'null')">
                        <span>{{model.raison_sociale}}<!--variable--></span>
                    </div>
                    <div class="form-group" >
                        <span>{{model.nom}} {{model.prenom}}<!--variable--></span>
                    </div>
                    <div class="form-group">
                        <span >{{model.cadresse}}<!--variable--></span>
                    </div>
                    <div class="form-group">
                        <span >{{model.ccp}} </span>

                        <span > {{model.cville}}<!--variable--></span>
                    </div>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <div class="form-group"  >
                        <span  style="margin-top: 40px;">{{fact.villefact}}* , le <input style="border:1px solid white;" type="date" name="date_avoir" [(ngModel)]="model.date_avoir" required><!--variable--></span>
                    </div>

                </div>

                <div class="col-sm-5">
                    <div class="form-group">
                        <span class="col-sm-5" style="font-weight: bold;">Facture d'avoir N° : </span><span style="font-weight: bold;">{{navoir.navoir}}</span>
                    </div>



                </div>

                <div class="col-sm-12" style="margin-top: 25px;">
                    <span style="font-weight: bold;">Infomations additionnelles :</span><br>
                    <span>Facture d'avoir, en remboursement de la facture N° {{model.nfactclient}} </span>
                </div>

            </fieldset>

            <div class="table-responsive">
                <table class="table">

                    <thead>
                    <th class="col-sm-1 mil">Référence</th>
                    <th class="col-sm-5 mil">Article</th>
                    <th class="col-sm-1 mil">P.U. en €</th>
                    <th class="col-sm-1 mil">Qte.</th>
                    <th class="col-sm-2 mil">Total HT en €</th>
                    <th class="col-sm-1 mil">TVA en %</th>
                    <th class="col-sm-1 mil">Action</th>
                    </thead>

                    <tbody *ngIf="situa.length>0">
                    <tr>

                        <td>
                            {{situas.id_produit}} / {{situas.num_version}}
                        </td>
                        <td>
                            <input ng2-auto-complete
                                   #prod
                                   [source]="situa"
                                   [list-formatter]="autocompleListFormatterSitua"
                                   value-property-name="id_produit"
                                   display-property-name="libelle"
                                   class="form-control input-sm"
                                   placeholder="Ajoutez un produit"
                                   name="produit"
                                   [(ngModel)]="situas.obj"
                                   (ngModelChange)="test()"
                            >
                        </td>
                        <td>{{situas.prixfact}}

                        </td>
                        <td>
                            <input type="text" class="form-control input-sm"  placeholder=""
                                   name="qtefact"
                                   [(ngModel)]="situas.qtefact">
                        </td>
                        <td>
                            <span *ngIf="situas.qtefact && situas.prixfact">{{situas.qtefact * situas.prixfact *(-1)}}</span>
                        </td>
                        <td>{{situas.tvas}}

                        </td>
                        <td><button  class="btn btn-default input-sm col-sm-offset-1"
                                     (click)="ajouter()"
                                     [disabled]="!situas.obj">Ajouter</button></td>
                    </tr>
                    </tbody>


                    <!------------------------------------------------------------------->

                    <tbody *ngIf="option.length>0">
                    <tr>

                        <td>
                            {{options.id_produit}} / {{options.num_version}}
                        </td>
                        <td>
                            <input ng2-auto-complete
                                   #prod
                                   [source]="option"
                                   [list-formatter]="autocompleListFormatterOption"
                                   value-property-name="id_produit"
                                   display-property-name="libelle"
                                   class="form-control input-sm"
                                   placeholder="Ajoutez un produit en option"
                                   name="produit"
                                   [(ngModel)]="options.obj"
                                   (ngModelChange)="testopt()"
                            >
                        </td>
                        <td>{{options.prixfact}}

                        </td>
                        <td>
                            <input type="text" class="form-control input-sm"  placeholder=""
                                   name="qtefact"
                                   [(ngModel)]="options.qtefact">
                        </td>
                        <td>
                            <span *ngIf="options.qtefact && options.prixfact">{{options.qtefact * options.prixfact *(-1)}}</span>
                        </td>
                        <td>{{options.tvao}}

                        </td>
                        <td><button  class="btn btn-default input-sm col-sm-offset-1"
                                     (click)="ajouteropt()"
                                     [disabled]="!options.obj">Ajouter</button></td>
                    </tr>
                    </tbody>

                    <!------------------------------------------------------------------->

                    <tbody *ngIf="libre.length>0">
                    <tr>

                        <td>
                            {{libres.id_prod}}
                        </td>
                        <td>
                            <input ng2-auto-complete
                                   #prod
                                   [source]="libre"
                                   [list-formatter]="autocompleListFormatterLibre"
                                   value-property-name="id_prod"
                                   display-property-name="nom_produit"
                                   class="form-control input-sm"
                                   placeholder="Ajoutez un produit en option"
                                   name="produit"
                                   [(ngModel)]="libres.obj"
                                   (ngModelChange)="testlibre()"
                            >
                        </td>
                        <td>{{libres.prix_prod}}

                        </td>
                        <td>
                            <input type="text" class="form-control input-sm"  placeholder=""
                                   name="qteprod"
                                   [(ngModel)]="libres.qteprod">
                        </td>
                        <td>
                            <span *ngIf="libres.qteprod && libres.prix_prod">{{libres.qteprod * libres.prix_prod *(-1)}}</span>
                        </td>
                        <td>{{libres.tva}}

                        </td>
                        <td><button  class="btn btn-default input-sm col-sm-offset-1"
                                     (click)="ajouterlibre()"
                                     [disabled]="!libres.obj">Ajouter</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <ng-container *ngFor="let situas of produitDevis, let i = index; trackBy:customTrackBy">

                <div class="table-responsive">
                    <table class="table">

                        <thead>
                        <th class="col-sm-1 mil"></th>
                        <th class="col-sm-5 mil"></th>
                        <th class="col-sm-1 mil"></th>
                        <th class="col-sm-1 mil"></th>
                        <th class="col-sm-2 mil"></th>
                        <th class="col-sm-1 mil"></th>
                        <th class="col-sm-1 mil"></th>
                        </thead>

                        <tbody>

                        <tr >

                            <td>
                                <div class="form-group">
                                    <span>{{situas.obj.id_produit}} / {{situas.num_version}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <span>{{situas.obj.libelle}}</span>
                                </div>

                            </td>

                            <td>
                                {{produitDevis[i].prixfact}}
                            </td>

                            <td>
                                <div class="form-group">
                                    <input type="number"
                                           class="form-control input-sm"
                                           name="qtefact{{i}}"
                                           placeholder=""
                                           min="0"
                                           [(ngModel)]="produitDevis[i].qtefact"
                                           required>
                                </div>
                            </td>

                            <td>
                                <span>{{produitDevis[i].qtefact * produitDevis[i].prixfact * (-1) | number:'1.0-2'}}</span>
                            </td>
                            <td>
                                {{produitDevis[i].tvas}}
                            </td>
                            <td>
                                <a class=" col-sm-offset-1"
                                   (click)="supprimer(produitDevis[i])">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"
                                                      style="color: #0f0f0f"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>



            </ng-container>

            <ng-container *ngFor="let options of produitDevisopt, let i = index; trackBy:customTrackBy">

                <div class="table-responsive">
                    <table class="table">

                        <thead>
                        <th class="col-sm-1 mil"></th>
                        <th class="col-sm-5 mil"></th>
                        <th class="col-sm-1 mil"></th>
                        <th class="col-sm-1 mil"></th>
                        <th class="col-sm-2 mil"></th>
                        <th class="col-sm-1 mil"></th>
                        </thead>

                        <tbody>

                        <tr >

                            <td>
                                <div class="form-group">
                                    <span>{{options.obj.id_produit}} / {{options.num_version}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <span>{{options.obj.libelle}}</span>
                                </div>

                            </td>
                            <td>
                                {{produitDevisopt[i].prixfact}}

                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="number"
                                           class="form-control input-sm"
                                           name="qtefact{{i}}"
                                           placeholder=""
                                           min="0"
                                           [(ngModel)]="produitDevisopt[i].qtefact"
                                           required>
                                </div>
                            </td>

                            <td>
                                <span>{{produitDevisopt[i].qtefact * produitDevisopt[i].prixfact * (-1) | number:'1.0-2'}}</span>
                            </td>
                            <td>
                                {{produitDevisopt[i].tvao}}

                            </td>
                            <td>
                                <a class=" col-sm-offset-1"
                                   (click)="supprimeropt(produitDevisopt[i])">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"
                                                      style="color: #0f0f0f"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>



            </ng-container>


            <ng-container *ngFor="let libres of produitDevislibre, let i = index; trackBy:customTrackBy">

                <div class="table-responsive">
                    <table class="table">

                        <thead>
                        <th class="col-sm-1 mil"></th>
                        <th class="col-sm-5 mil"></th>
                        <th class="col-sm-1 mil"></th>
                        <th class="col-sm-1 mil"></th>
                        <th class="col-sm-2 mil"></th>
                        <th class="col-sm-1 mil"></th>
                        </thead>

                        <tbody>

                        <tr >

                            <td>
                                <div class="form-group">
                                    <span>{{libres.obj.id_prod}} </span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <span>{{libres.obj.nom_produit}}</span>
                                </div>

                            </td>
                            <td>
                                {{produitDevislibre[i].prix_prod}}

                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="number"
                                           class="form-control input-sm"
                                           name="qteprod{{i}}"
                                           placeholder=""
                                           min="0"
                                           [(ngModel)]="produitDevislibre[i].qteprod"
                                           required>
                                </div>
                            </td>

                            <td>
                                <span>{{produitDevislibre[i].qteprod * produitDevislibre[i].prix_prod * (-1) | number:'1.0-2'}}</span>
                            </td>
                            <td>
                                {{produitDevislibre[i].tva}}

                            </td>
                            <td>
                                <a class=" col-sm-offset-1"
                                   (click)="supprimerlibre(produitDevislibre[i])">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"
                                                      style="color: #0f0f0f"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>



            </ng-container>

            <fieldset style="margin-top: 30px;">
            <table style="border:1px solid black;width: auto;" class=" separe1 col-sm-3 table-striped ">
                <tr style="height: 50px;text-align:right;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;" class="gras">
                    <td style="text-align:right;border-top:1px solid black;border-left:1px solid black;" class="gauche" style="text-align: left;">Total H.T en € :</td>
                    <td >{{ countTotal() | number:'1.0-2'}}</td>
                </tr>
                <tr style="height: 50px;text-align:right;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;" class="gras" *ngIf="model.remise">
                    <td style="text-align:right;border-top:1px solid black;border-left:1px solid black;" class="gauche" style="text-align: left;">Total H.T en € après remise de {{model.remise}}% : </td>
                    <td >{{  countTotalremis() | number:'1.0-2'}}</td>
                </tr>
                <tr *ngIf="valeur.tva" style="height: 50px;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;">
                    <td  style="text-align:right;border-left: 1px solid;border-top:1px solid black;" class="gauche" style="text-align: left;">TVA {{valeur.tva}} % :</td>
                    <td style="text-align: right;">{{countTva() | number:'1.0-2'}}</td>
                </tr>

                <tr style="height: 50px;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;" *ngIf="SumTvaV()"><td style="text-align:right;border-left: 1px solid;border-top:1px solid black;" class="gauche" style="text-align: left;">TVA à 20 % </td><td style="text-align: right;">-{{SumTvaV() | number:'1.0-2'}}</td></tr>
                <tr style="height: 50px;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;" *ngIf="SumTvaD()"><td style="text-align:right;border-left: 1px solid;border-top:1px solid black;" class="gauche" style="text-align: left;">TVA à 10 % </td><td style="text-align: right;">-{{SumTvaD() | number:'1.0-2'}}</td></tr>
                <tr style="height: 50px;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;" *ngIf="SumTvaC()"><td style="text-align:right;border-left: 1px solid;border-top:1px solid black;" class="gauche" style="text-align: left;">TVA à 5.5 % </td><td style="text-align: right;">-{{SumTvaC() | number:'1.0-2'}}</td></tr>
                <tr style="height: 50px;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;" *ngIf="SumTvaDX()"><td style="text-align:right;border-left: 1px solid;border-top:1px solid black;" class="gauche" style="text-align: left;">TVA à 2.1 % </td><td style="text-align: right;">-{{SumTvaDX() | number:'1.0-2'}}</td></tr>

                <tr  style="height: 50px;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;" class="gras" *ngIf="!countTva()"><td style="text-align:right;border-left: 1px solid;border-top:1px solid black;" class="gauche" style="text-align: left;">Total TVA :</td  ><td style=" border-right:1px solid black; border-bottom:1px solid black;">-{{TotauxTVA() | number:'1.0-2'}}</td></tr>
                <tr style="height: 50px;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;border-bottom: 1px solid black;" class="basr grass">
                    <td style="text-align:right;border-left: 1px solid;border-top:1px solid black;border-bottom:1px solid black;" class="gauche" style="text-align: left;">Total TTC en € :</td>
                    <td style="text-align: right;">{{countTtc() | number:'1.0-2'}}</td>
                </tr>
            </table>
            </fieldset>


            <button  class="btn btn-default input-sm col-sm-offset-11"
                     type="submit"
                     [disabled]="(produitDevis.length || produitDevisopt.length || produitDevislibre.length) < 1 ">
                Valider
            </button>

        </form >

    </div>

</div>