<div id="devis">

    <my-header *ngIf="!print" [title]='"Facturation"' [img]="'image/menu/facturation_grand_gris.png'"></my-header>


    <div class=" container "  id="pageContent" style="background-color: white;">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <h3 *ngIf="!print" >Avoir</h3>

        <form >

            <fieldset class="separe">
                <div class="row marge">
                    <img *ngIf="!print" [src]="config.logoPath"  style="margin-left:100px;">
                </div>
                <!-- ajouter une boucle pour récupérer les différentes variables du devis-->
                <div *ngIf="uploaderImg"  style="text-align: center;margin-left:10%; top:30px; position: fixed;">
                    <div *ngIf="print">
                        <img *ngIf="url" [src]="url" alt="..." class="img-responsive col-sm-12"/>
                        <img *ngIf="!url && img.image" style="height: 150px; width: 300px;"
                             src="http://{{loc}}:4000/image/agence/{{img.id_agence}}/{{img.image}}" alt="..."
                             class="img-responsive col-sm-12"/>

                        <!--<input type="file" ng2FileSelect [uploader]="uploaderImg" (change)="readUrl($event)"/>-->
                    </div>
                </div>
                <p>&nbsp;</p>

                <div  style="margin-left: 50%;margin-top: 70px;">
                    <div class="form-group" *ngIf="valeur.raison_sociale!=('' || 'null')">
                        <span>{{valeur.raison_sociale}}<!--variable--></span>
                    </div>
                    <div class="form-group" >
                        <span>{{valeur.nom}} {{valeur.prenom}}<!--variable--></span>
                    </div>
                    <div class="form-group">
                        <span >{{valeur.adresse}}<!--variable--></span>
                    </div>
                    <div class="form-group">
                        <span >{{valeur.code_postal}} </span>

                        <span > {{valeur.ville}}<!--variable--></span>
                    </div>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <div class="form-group"  >
                        <span  style="margin-top: 40px;">{{fact.villefact}} , le {{valeur.date_avoir | date: 'dd/MM/yyyy'}}</span>
                    </div>

                </div>

                <div class="col-sm-5">
                    <div class="form-group">
                        <span class="col-sm-5" style="font-weight: bold;">Facture d'avoir N° : </span><span style="font-weight: bold;">{{valeur.id_avoir}}</span>
                    </div>



                </div>

                <div class="col-sm-12" style="margin-top: 25px;">
                    <span style="font-weight: bold;">Infomations additionnelles :</span><br>
                    <span>Facture d'avoir, en remboursemant de la facture N° {{valeur.nfactclient}} </span>
                </div>

            </fieldset>


            <div class="table-responsive">

                <table class="table">

                    <thead>
                    <tr>
                        <th>Référence</th>
                        <th>Libellé</th>
                        <th>P.U.</th>
                        <th>Quantité</th>
                        <th>TVA en %</th>
                        <th>Prix H.T en €</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr *ngFor="let prod of produit">
                        <td>{{prod.id_produit}} / {{prod.num_version}}</td>
                        <td>{{prod.libelle}}</td>
                        <td>{{prod.prixfact}}</td>
                        <td>{{prod.qtefact}}</td>
                        <td></td>
                        <td>{{ prod.prixfact * prod.qtefact | currency:'EUR':true:'1.2-2'}}</td>
                    </tr>

                    <tr *ngFor="let prod of libre">
                        <td>{{prod.id_prod}} </td>
                        <td>{{prod.nom}}</td>
                        <td>{{prod.prix}}</td>
                        <td>{{prod.qte}}</td>
                        <td>{{prod.tva}}</td>
                        <td>{{ prod.prix * prod.qte | currency:'EUR':true:'1.2-2'}}</td>
                    </tr>

                    <tr class="gras">
                        <td colspan="4"></td>
                        <td>Total H.T en € :</td>
                        <td>- {{countTotalProduit()+ countTotallibre() | currency:'EUR':true:'1.2-2'}}</td>
                    </tr>

                    <tr class="gras" *ngIf="valeur.remise">
                        <td colspan="4"></td>
                        <td>Total après Remise : {{valeur.remise}} % :</td>
                        <td>- {{countTotallibreremise() | currency:'EUR':true:'1.2-2'}}</td>
                    </tr>

                    <tr class="gras" *ngIf="valeur.tva">
                        <td colspan="4"></td>
                        <td>TVA  {{valeur.tva}} % :</td>
                        <td>- {{countTva() | currency:'EUR':true:'1.2-2'}}</td>
                    </tr>

                    <tr *ngIf="TVAV()">
                        <td colspan="4"></td>
                        <td  >TVA 20 % :</td>
                        <td >- {{TVAV() | currency:'EUR':true:'1.2-2'}}</td>
                    </tr>
                    <tr *ngIf="TVAD()">
                        <td colspan="4"></td>
                        <td  >TVA 10 % :</td>
                        <td >- {{TVAD() | currency:'EUR':true:'1.2-2'}}</td>
                    </tr>
                    <tr *ngIf="TVAC()">
                        <td colspan="4"></td>
                        <td  >TVA 5.5 % :</td>
                        <td >- {{TVAC() | currency:'EUR':true:'1.2-2'}}</td>
                    </tr>
                    <tr *ngIf="TVADU()">
                        <td colspan="3"></td>
                        <td  >TVA 2.1 % :</td>
                        <td >- {{TVADU() | currency:'EUR':true:'1.2-2'}}</td>
                    </tr>
                    <tr *ngIf="TVAZ()">
                        <td colspan="4"></td>
                        <td  >TVA 0 % :</td>
                        <td >- {{TVAZ() | currency:'EUR':true:'1.2-2'}}</td>
                    </tr>
                    <tr class="gras">
                        <td colspan="4"></td>
                        <td> Total TTC en € :</td>
                        <td>- {{countTotalavoir() | currency:'EUR':true:'1.2-2'}}</td>
                    </tr>
                    </tbody>


                </table>
            </div>

        </form>

        <div   *ngIf="print" class="col-sm-12">
            <article style="margin-top: 40px;bottom: 0;left: 0; right: 0;position: fixed;width: 100%;text-align: center;z-index:1000;font-size:9px;line-height: 1px;" >
                <p>{{fact.pied_page1}}</p>
                <p>{{fact.pied_page2}}</p>
                <p>{{fact.pied_page3}}</p>
                <p>{{fact.pied_page4}}</p>
                <p>{{fact.pied_page5}}</p>
                <p>{{fact.pied_page6}}</p>
            </article>
        </div>
        <form style="margin-bottom: 10px;">
            <button class="col-sm-offset-8 col-sm-1 btn" type="button" *ngIf="!print && droitsuser.accesfact" (click)=" imprimer()">Imprimer</button>
        </form>

    </div>
</div>