<div id="devis">

    <my-header *ngIf="!print" [title]='"Facturation"' [img]="'image/menu/facturation_grand_gris.png'"></my-header>


    <div class=" container ">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <h3 *ngIf="!print" >Editer la facture</h3>


        <form action='#' method='POST' (ngSubmit)="add()">
            <input type="hidden" name="identifiant de la facture"><!--variable peremettant par la suite d'éditer la facture au format PDF-->
            <fieldset class="separe">
                <div class="row marge">
                    <img  [src]="config.logoPath"  style="margin-left:100px;">
                </div>
                <!-- ajouter une boucle pour récupérer les différentes variables du devis-->
                <div *ngIf="uploaderImg"  style="text-align: center;margin-left:10%; top:-200px; position: fixed;">
                    <div *ngIf="print">
                        <img *ngIf="url" [src]="url" alt="..." class="img-responsive col-sm-12"/>
                        <img *ngIf="!url && img.image" style="height: 150px; width: 300px;"
                             src="http://{{loc}}:4000/image/agence/{{img.id_agence}}/{{img.image}}" alt="..."
                             class="img-responsive col-sm-12"/>

                        <!--<input type="file" ng2FileSelect [uploader]="uploaderImg" (change)="readUrl($event)"/>-->
                    </div>
                </div>
                <p>&nbsp;</p>
                <!--<div *ngIf="print" style="position:absolute;z-index: -10;margin-top:40%;">
                    <img src="image/fili.png">
                </div>-->


                <div  style="margin-left: 50%;margin-top: 70px;text-align: left;">
                    <div class="form-group" *ngIf="model.raison_sociale!=('' || 'null')">
                        <span  >{{model.raison_sociale}}<!--variable--></span>
                    </div>
                    <div class="form-group">
                        <span  >{{model.nom}}<!--variable--></span>
                    </div>
                    <div class="form-group">
                        <span>{{model.cadresse}}</span>
                    </div>
                    <div class="form-group">
                        <span >{{model.ccp}} </span>
                        <span > {{model.cville}}</span>
                    </div>
                    <p>&nbsp;</p> <p>&nbsp;</p>
                    <div class="form-group" >
                        <span  style="margin-top: 40px;">{{fact.villefact}}* , le <input style="border:1px solid white;" type="date" name="date_fact" [ngModel]="model.date_fact | date:'yyyy-MM-dd'" (ngModelChange)="model.date_fact = $event" [value]="model.date_fact | date:'yyyy-MM-dd'" required><!--variable--></span>
                    </div>

                </div>

                <div class="col-sm-5">
                    <div class="form-group col-sm-12">
                        <label class="col-sm-4" style="text-decoration: underline;">N° facture :</label>
                        <span class="col-sm-8" style="text-align: left">{{nfact.nfact}}</span>
                    </div>

                    <div class="form-group col-sm-12">
                        <span class="col-sm-4" style="text-decoration: underline;">Devis n° :</span>
                        <span class="col-sm-2" >{{model.id_devis}}</span>
                        <span class="col-sm-4">Version du devis :</span>
                        <span class="col-sm-2"> {{version.num_version}}<!--variable--></span>
                    </div>
                    <div class="form-group col-sm-12">
                        <span class="" >Nom du chantier: </span><span style="font-weight: bold;" *ngIf="ret.nom_chantier!=('' || 'null')">{{ret.nom_chantier}}<!--variable--></span>
                    </div>

                </div>

            </fieldset>

            <fieldset class="marge1">
                <!--boucle pour éditer les lignes du tableau de facturation et calcul posiible ou déjà en bdd-->

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead style="background-color: #9d9d9d;height: 10px;">
                        <th class="col-sm-1">Référence</th>
                        <th class="col-sm-3">Article</th>
                        <th class="col-sm-1">Unité</th>
                        <th class="col-sm-1">Qte</th>
                        <th class="col-sm-1">P.U. en €</th>
                        <th class="col-sm-1">PU H.T. en €</th>
                        <th class="col-sm-1">Total H.T. en €</th>
                        <th class="col-sm-1" style="width: 70px;">%</th>
                        <th  class="col-sm-1" *ngIf="!version.tva">TVA</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let details of detail">
                                <td>{{details.id_produit}}-{{details.num_version}}</td>
                                <td>{{details.libelle}}</td>
                                <td>{{details.unite}}</td>
                                <td>{{details.qte_devis}}</td>
                                <td>{{details.prix_devis}}</td>
                                <td>{{details.qte_devis * details.prix_devis | number:'1.0-2'}}</td>
                                <td >{{totaligne(details) | number:'1.0-2'}} </td>
                                <td><input style="width: 70px;" type="number" name="pourcentage" [(ngModel)]="details.pourcentage" min="0" max="100"> </td>
                                <td *ngIf="!version.tva">{{details.taux}} %</td>
                            </tr>
                            <tr *ngFor="let libres of libre">
                                <td>{{libres.id_produit}}-{{libres.num_version}}</td>
                                <td>{{libres.produit}}</td>
                                <td>{{libres.unite}}</td>
                                <td>{{libres.qte_devis}}</td>
                                <td>{{libres.prix_devis}}</td>
                                <td>{{libres.qte_devis * libres.prix_devis | number:'1.0-2'}}</td>
                                <td >{{totalignelibre(libres) | number:'1.0-2'}}</td>
                                <td><input style="width: 70px;" type="number" name="pourcentage" [(ngModel)]="libres.pourcentage" min="0" max="100"> </td>
                            </tr>
                            <tr *ngIf="(option.length>0) || (libreoption.length>0)"><td colspan="8">Options acceptées</td></tr>
                            <tr *ngFor="let options of option">
                                <td>{{options.id_produit}}-{{options.num_version}}</td>
                                <td>{{options.libelle}}</td>
                                <td>{{options.unite}}</td>
                                <td>{{options.qte_devis}}</td>
                                <td>{{options.prix_devis}}</td>
                                <td>{{options.qte_devis * options.prix_devis | number:'1.0-2'}}</td>
                                <td >{{totaligneopt(options) | number:'1.0-2'}} </td>
                                <td><input style="width: 70px;" type="number" name="pourcentage" [(ngModel)]="options.pourcentage" class="col-sm-12" min="0" max="100"> </td>
                                <td *ngIf="!version.tva">{{options.taux}} %</td>
                            </tr>
                            <tr *ngFor="let libreoptions of libreoption">
                                <td>{{libreoptions.id_produit}}</td>
                                <td>{{libreoptions.produit}}</td>
                                <td>{{libreoptions.unite}}</td>
                                <td>{{libreoptions.qte_devis}}</td>
                                <td>{{libreoptions.prix_devis}}</td>
                                <td>{{libreoptions.qte_devis * libreoptions.prix_devis | number:'1.0-2'}}</td>
                                <td >{{totalignelibreoption(libreoptions) | number:'1.0-2'}}</td>
                                <td><input style="width: 70px;border:1px solid white;" type="number" name="pourcentage" [(ngModel)]="libreoptions.pourcentage" class="col-sm-12" min="0" max="100"> </td>
                            </tr>
                        </tbody>
                    </table>




                </div>

            </fieldset>

            <fieldset style="margin-top: 30px;">
                <table class=" separe1 table-striped">
                    <tbody >

                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;"><td class="gauche" style="text-align: left;">Rappel Montant H.T. Devis :</td><td style="text-align: right;">{{totalfact.totalht + totalopt.totaloption + countTotallib() + countTotalliboption() | number:'1.0-2'}}</td></tr>
                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;" class="basr"><td class="gauche" style="text-align: left;">Total des travaux H.T. :</td><td style="text-align: right;">{{totalfact.totalht + totalopt.totaloption + countTotallib() + countTotalliboption() | number:'1.0-2'}}</td></tr>


                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;"><td class="gauche" style="text-align: left;">Travaux réalisés/devis :</td><td style="text-align: right;">{{countTotal()  | number:'1.0-2'}}</td></tr>
                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;" *ngIf="version.remise>0"><td class="gauche" style="text-align: left;"> Remise:  {{version.remise}} %</td><td style="text-align: right;">{{countRemise() | number:'1.0-2'}} </td></tr>
                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;"  class="basr gras"><td class="gauche" style="text-align: left;">Total H.T. net :</td><td style="text-align: right;">{{countTotalRemise() | number:'1.0-2'}}</td></tr>

                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;"><td class="gauche" style="text-align: left;">Plus-Value :</td><td style="text-align: right;">0.00</td></tr>
                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;"  class="basr"><td class="gauche" style="text-align: left;">Moins-Value :</td><td style="text-align: right;">0.00</td></tr>


                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;" class="gras"><td class="gauche" style="text-align: left;">Total Net :</td><td style="text-align: right;">{{countTotalNet()  | number:'1.0-2'}}</td></tr>
                    </tbody>
                </table>

                <table class="separe1 table-striped"   style="float:right;margin-top: -240px;">
                    <tbody >
                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;" class="gras"><td class="gauche" style="text-align: left;">Total Net :</td><td>{{countTotalNet() | number:'1.0-2'}}</td></tr>
                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;"><td class="gauche" style="text-align: left;">Acompte/situations antérieures :</td><td>{{version.accompte_value}}</td></tr><!--accompte-->
                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;" class="basr gras"><td class="gauche" style="text-align: left;">Total situation H.T. :</td><td>{{countTotalsituation() | number:'1.0-2'}}</td></tr>


                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;" *ngIf="version.tva"><td class="gauche" style="text-align: left;">1-TVA à {{version.tva}} % ({{countTotalsituation() | number:'1.0-2'}})</td><td>{{countTVA() | number:'1.0-2'}}</td></tr>
                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;" class="basr" *ngIf="SumTvaV()"><td class="gauche">TVA 20 %</td><td>{{SumTvaV() | number:'1.0-2'}}</td></tr>
                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;" class="basr" *ngIf="SumTvaD()"><td class="gauche">TVA 10 %</td><td>{{SumTvaD() | number:'1.0-2'}}</td></tr>
                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;" class="basr" *ngIf="SumTvaC()"><td class="gauche">TVA 5.5 %</td><td>{{SumTvaC() | number:'1.0-2'}}</td></tr>
                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;" class="basr" *ngIf="SumTvaDX()"><td class="gauche">TVA 2.1 %</td><td>{{SumTvaDX() | number:'1.0-2'}}</td></tr>
                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;" class="basr" *ngIf="SumTvaZ()"><td class="gauche">TVA 0 %</td><td>{{SumTvaZ() | number:'1.0-2'}}</td></tr>

                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;" class="basr grass"><td style="text-align: left;padding-left: 10px;">Total TVA :</td><td>{{countTVA() | number:'1.0-2'}}</td></tr>
                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;" class="basr grass"><td class="gauche" style="text-align: left;">Sous Total :</td><td>{{countSTotal() | number:'1.0-2'}}</td></tr>

                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;"><td class="gauche" style="text-align: left;">Retenue de garantie<i style="padding-left: 20px;">{{ret.pourcentage}} %</i></td><td>{{countRetenu() | number:'1.0-2'}}</td></tr>
                    <tr style="height:30px;border-top:1px solid black;border-right: 1px solid black;border-left:1px solid black;border-bottom:1px solid black;" class="basr"><td class="gauche" style="text-align: left;">Total TTC :</td><td>{{countTTC() | number:'1.0-2'}}</td></tr>

                    <tr ><td class="gauche"> </td><td> </td></tr>
                    <tr><td class="gauche"> </td><td> </td></tr>


                    </tbody>
                </table>
                <p>&nbsp;</p> <p>&nbsp;</p>
                <table class="col-sm-5 col-sm-offset-7 separe1" style="margin-top: 5px;">
                    <tbody>
                    <tr class="gras"><td class="gauche">Net à payer en Euro</td><td>{{countTTC() | number:'1.0-2'}} €</td></tr>
                    </tbody>
                </table>

            </fieldset>
            <div style="padding-top: 10px;">
                <span class="col-sm-2 col-sm-offset-8  ">* Echéance au :</span><span class="col-sm-2">
                <input style="border:1px solid white;" type="date" name="model.date_echeance"  [ngModel]="model.date_echeance | date:'yyyy-MM-dd'" (ngModelChange)="model.date_echeance = $event" [value]="model.date_echeance | date:'yyyy-MM-dd'" required/>
            </span>
            </div>




            <div  id="pageFooter"  >

                <article style="margin-top: 40px;bottom: 0;left: 0; right: 0;position: fixed;text-align: center;page-break-before:always;page-break-inside: avoid;font-size:9px;" >

                <p *ngIf="print">{{fact.pied_page1}}</p>
                <p *ngIf="print">{{fact.pied_page2}}</p>
                <p *ngIf="print">{{fact.pied_page3}}</p>
                <p *ngIf="print">{{fact.pied_page4}}</p>
                <p *ngIf="print">{{fact.pied_page5}}</p>
                <p *ngIf="print">{{fact.pied_page6}}</p>
            </article>
            </div>
            <button *ngIf="!print && droitsuser.modiffact" class="btn btn-default input-sm col-sm-offset-11" type="submit" [disabled]="loading">Enregistrer</button>
        </form>
    </div>


</div>
<form style="margin-bottom: 10px;">
    <button class="col-sm-offset-8 col-sm-1 btn" type="button" *ngIf="!print && droitsuser.accesfact" (click)=" imprimer()">Imprimer </button>
</form>