<div id="devis">

    <my-header *ngIf="!print" [title]='"Facturation"' [img]="'image/menu/facturation_grand_gris.png'"></my-header>

</div>
<div id="dev">
    <div class=" container "  id="pageContent" style="background-color: white;">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>



        <form (ngSubmit)="submit()">

            <fieldset class="separe">
                <div class="row marge">
                    <img *ngIf="!print" [src]="config.logoPath"  style="margin-left:100px;height: auto;width: 300px;">
                </div>
                <!-- ajouter une boucle pour récupérer les différentes variables du devis-->
                <div *ngIf="uploaderImg"  style="text-align: center;margin-left:10%; heigh:auto; top:10px;position:fixed;left:50px;">
                    <div *ngIf="print" style="top:10px;position:fixed;left:50px;">
                        <img *ngIf="url" [src]="url" alt="..." class="img-responsive col-sm-4"/>
                        <img *ngIf="!url && img.image" style="height: auto; width: 200px;top:0px;position:fixed;left:50px;page-break-after:always;"
                             src="http://{{loc}}:4000/image/agence/{{img.id_agence}}/{{img.image}}" alt="..."
                             class="img-responsive col-sm-12"/>

                        <!--<input type="file" ng2FileSelect [uploader]="uploaderImg" (change)="readUrl($event)"/>-->
                    </div>
                </div>
                <p>&nbsp;</p>

                <div  style="margin-left: 50%;margin-top: 70px;">
                    <div class="form-group" *ngIf="model.raison_sociale!=('' || 'null')">
                        <span>{{model.raison_sociale}}<!--variable--></span>
                    </div>
                    <div class="form-group" >
                        <span>{{model.nom}} {{model.prenom}}<!--variable--></span>
                    </div>
                    <div class="form-group">
                        <span >{{model.cadresse}}<!--variable--></span>
                    </div>
                    <div class="form-group">
                        <span >{{model.ccp}} </span>

                        <span > {{model.cville}}<!--variable--></span>
                    </div>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>

                    <div class="form-group"  >
                        <span  style="margin-top: 40px;">{{fact.villefact}}</span> , le <span>{{model.date_fact | date:'dd-MM-yyyy'}}</span>
                    </div>

                </div>

                <div class="col-sm-5">
                    <div class="form-group">
                        <span class="col-sm-5" style="text-decoration: underline;">N° de facturation: </span><span >{{model.nfactclient}}<!--variable--></span>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-5" style="text-decoration: underline;">N° de situation: </span><span >{{n_situation}}<!--variable--></span>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-5"style="text-decoration: underline;" >N° du devis: </span><span >{{model.id_devis}} </span><span class="col-sm-offset-1"> version: {{model.id_version}}<!--variable--></span>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-5" >Nom du chantier: </span><span style="font-weight: bold;" >{{model.nom_chantier}}<!--variable--></span>
                    </div>

                </div>

            </fieldset>

            <fieldset class="marge1">
                <!--boucle pour éditer les lignes du tableau de facturation et calcul posiible ou déjà en bdd-->


                <table class="table table-striped">
                    <thead style="background-color: #9d9d9d;">
                    <tr >
                        <th style="border-left: 1px solid black;  border-top:1px solid black;" class="col-sm-1">Référence</th>
                        <th  style=" border-top:1px solid black;" class="col-sm-3">Article</th>
                        <th style=" border-top:1px solid black;" class="col-sm-1">Unité</th>
                        <th style="border-top:1px solid black;" class="col-sm-1">Qte</th>
                        <th style=" border-top:1px solid black;" class="col-sm-1">P.U. en €</th>
                        <th style=" border-top:1px solid black;" class="col-sm-1">PU H.T. en €</th>
                        <th style=" border-top:1px solid black;" class="col-sm-1">Total H.T. en €</th>
                        <th style=" border-top:1px solid black;width: 70px;" class="col-sm-1">%</th>
                        <th style=" border-top:1px solid black;width: 70px;border-right:1px solid black;width: 70px;" class="col-sm-1">TVA</th>
                    </tr>
                    </thead>

                    <tbody style="border:1px solid black;">
                    <tr  *ngFor="let situas of situa, let i =index; trackBy:customTrackBy">

                        <td style="border-left: 1px solid black; border-right: 1px solid black;">{{situa[i].id_produit}}-{{situa[i].num_version}}</td>
                        <td style=" border-right: 1px solid black;">{{situa[i].libelle}}</td>
                        <td style=" border-right: 1px solid black;">{{situa[i].unite}}</td>
                        <td style=" border-right: 1px solid black;">{{situa[i].qtefact}}</td>
                        <td style=" border-right: 1px solid black;">{{situa[i].prixfact}}</td>
                        <td style=" border-right: 1px solid black;">{{situa[i].qtefact * situa[i].prixfact | number:'1.0-2'}}</td>
                        <td style=" border-right: 1px solid black;">{{totaligne(situa[i]) | number:'1.0-2'}}</td>
                        <td style=" border-right: 1px solid black;">{{situa[i].pourcentage | number:'1.0-2'}}  </td>
                        <td style=" border-right: 1px solid black;">{{situa[i].tvas | number:'1.0-2'}}  </td>

                    </tr>

                    <tr  *ngFor="let lbsituas of libsitua, let i =index; trackBy:customTrackBy">

                        <td style="border-left: 1px solid black; border-right: 1px solid black;">{{libsitua[i].id_prod}}</td>
                        <td style=" border-right: 1px solid black;">{{libsitua[i].nom_produit}}</td>
                        <td style=" border-right: 1px solid black;">{{libsitua[i].unite}}</td>
                        <td style=" border-right: 1px solid black;">{{libsitua[i].qteprod}}</td>
                        <td style=" border-right: 1px solid black;">{{libsitua[i].prix_prod}}</td>
                        <td style=" border-right: 1px solid black;">{{libsitua[i].qteprod * libsitua[i].prix_prod | number:'1.0-2'}}</td>
                        <td style=" border-right: 1px solid black;">{{totalignesitua(libsitua[i]) | number:'1.0-2'}}</td>
                        <td style=" border-right: 1px solid black;"><input style="width: 70px;" type="number" name="pourcents{{i}}" [(ngModel)]="libsitua[i].pourcents"  class="col-sm-12" min="0" max="100" *ngIf="libsitua[i].pourcents<=100"></td>
                        <td style=" border-right: 1px solid black;" *ngIf="!valeur.tva">{{libsitua[i].tva}}</td>
                    </tr>
                    <tr ><td colspan="9" *ngIf="(option.length >0) || (libsituaop.length>0)" style="border: 1px solid black;">Options acceptées</td></tr>
                    <tr  style="border:1px solid black;" *ngFor="let options of option, let i =index; trackBy:customTrackBy">

                        <td style="border-left: 1px solid black; border-right: 1px solid black;">{{option[i].id_produit}}-{{option[i].num_version}}</td>
                        <td style=" border-right: 1px solid black;">{{option[i].libelle}}</td>
                        <td style=" border-right: 1px solid black;">{{option[i].unite}}</td>
                        <td style=" border-right: 1px solid black;">{{option[i].qtefact}}</td>
                        <td style=" border-right: 1px solid black;">{{option[i].prixfact}}</td>
                        <td style=" border-right: 1px solid black;">{{option[i].qtefact * option[i].prixfact | number:'1.0-2'}}</td>
                        <td style=" border-right: 1px solid black;">{{totaligneopt(option[i]) | number:'1.0-2'}}</td>
                        <td style=" border-right: 1px solid black;">{{option[i].pourcentage | number:'1.0-2'}}</td>
                        <td style=" border-right: 1px solid black;">{{option[i].tvao | number:'1.0-2'}}</td>

                    </tr>
                    <tr  *ngFor="let situaop of libsituaop, let i =index; trackBy:customTrackBy">

                        <td style="border-left: 1px solid black; border-right: 1px solid black;">{{libsituaop[i].id_prod}}</td>
                        <td style=" border-right: 1px solid black;">{{libsituaop[i].nom_produit}}</td>
                        <td style=" border-right: 1px solid black;">{{libsituaop[i].unite}}</td>
                        <td style=" border-right: 1px solid black;">{{libsituaop[i].qteprod}}</td>
                        <td style=" border-right: 1px solid black;">{{libsituaop[i].prix_prod}}</td>
                        <td style=" border-right: 1px solid black;">{{libsituaop[i].qteprod * libsituaop[i].prix_prod | number:'1.0-2'}}</td>
                        <td style=" border-right: 1px solid black;">{{totalignesituaop(libsituaop[i]) | number:'1.0-2'}}</td>
                        <td style=" border-right: 1px solid black;"><input style="width: 70px;" type="number" name="pourcent{{i}}" [(ngModel)]="libsituaop[i].pourcent"  class="col-sm-12" min="0" max="100" *ngIf="libsituaop[i].pourcent<=100"></td>
                        <td style=" border-right: 1px solid black;" *ngIf="!valeur.tva">{{libsituaop[i].tva}}</td>
                    </tr>

                    </tbody>


                </table>






            </fieldset>

            <fieldset style="margin-top: 30px;">
                <table  style="border:1px solid black;" class=" separe1 col-sm-3 table-striped ">
                    <tbody >

                    <tr style="height: 50px;" ><td class="gauche" style="text-align: left;">Rappel Montant H.T. Devis :</td><td style="text-align:right;border-top:1px solid black; border-right:1px solid black;">{{countTTC() | number:'1.0-2'}}</td></tr>
                    <tr   style="border-top:1px solid black;height: 50px;" class="basr"><td class="gauche" style="text-align: left;">Total des travaux H.T. :</td><td style="text-align:right;border-top:1px solid black;border-right:1px solid black;">{{countTTC() | number:'1.0-2'}}</td></tr>

                    <tr style="border-top:1px solid black;height: 50px;"><td class="gauche" style="text-align: left;">Travaux réalisés/devis :</td><td style="text-align:right;border-top:1px solid black;border-right:1px solid black;">{{countTotal()  | number:'1.0-2'}}</td></tr>
                    <tr *ngIf="valeur.remise>0" style=";border-top:1px solid black;height: 50px;"><td class="gauche" style="text-align: left;"> Remise:  {{valeur.remise}} %</td><td style="text-align:right;border-top:1px solid black;border-right:1px solid black;">{{countRemise() | number:'1.0-2'}}</td></tr>
                    <tr class="basr gras" style=";border-top:1px solid black;height: 50px;"><td class="gauche" style="text-align: left;">Total H.T. net :</td><td style="text-align:right;border-top:1px solid black;border-right:1px solid black;">{{countTotalRemise() | number:'1.0-2'}}</td></tr>

                    <tr style=";border-top:1px solid black;height: 50px;"><td class="gauche" style="text-align: left;">Plus-Value :</td ><td style="text-align:right;border-top:1px solid black;">0.00</td></tr>
                    <tr style="border-top:1px solid black;height: 50px;" ><td class="gauche" style="text-align: left;">Moins-Value :</td><td style="text-align:right;border-top:1px solid black;"> 0.00</td></tr>
                    <tr style="border-top:1px solid black;height: 50px;" class="basr"><td class="gauche"> </td><td style="text-align:center;border-top:1px solid black;"> </td></tr>


                    <tr  style="height: 50px;" class="gras"><td class="gauche" style="text-align: left;">Total Net :</td><td style="text-align: right;">{{countTotalNet() | number:'1.0-2'}}</td></tr>
                    </tbody>
                </table>

                <table class=" separe1 col-sm-offset-9 table-striped" style=" float: right; text-align:center; margin-top :-450px">
                    <tbody style="text-align: center;">
                    <tr style="height: 50px;text-align:right;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;" class="gras"><td style="text-align:right;border-top:1px solid black;border-left:1px solid black;" class="gauche" style="text-align: left;">Total Net :</td><td >{{countTotalNet() | number:'1.0-2'}}</td></tr>
                    <tr  style="height: 50px;text-align:right;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;"><td style="text-align:right; border-left: 1px solid;;border-top:1px solid black;" class="gauche" style="text-align: left;">Acompte /situations antérieures :</td><td style="text-align:right;">{{totalsituation() | number:'1.0-2'}}</td></tr>
                    <tr style="height: 50px;text-align:right;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;" class="basr gras"><td style="text-align:right;border-left: 1px solid;border-top:1px solid black;" class="gauche" style="text-align: left;">Total situation H.T. :</td><td style="text-align:right;" >{{countTotalsituation() | number:'1.0-2'}}</td></tr>



                    <tr style="height: 50px;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;" *ngIf="valeur.tva"><td style="text-align:right;border-left: 1px solid;border-top:1px solid black;" class="gauche" style="text-align: left;">1-TVA à {{valeur.tva}} % ({{countTotalsituation() | number:'1.0-2'}})</td><td style="text-align: right;">{{countTVA() | number:'1.0-2'}}</td></tr>
                    <tr style="height: 50px;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;" *ngIf="SumTvaV()>0"><td style="text-align:right;border-left: 1px solid;border-top:1px solid black;" class="gauche" style="text-align: left;">TVA à 20 % </td><td style="text-align: right;">{{SumTvaV() | number:'1.0-2'}}</td></tr>
                    <tr style="height: 50px;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;" *ngIf="SumTvaD()>0"><td style="text-align:right;border-left: 1px solid;border-top:1px solid black;" class="gauche" style="text-align: left;">TVA à 10 % </td><td style="text-align: right;">{{SumTvaD() | number:'1.0-2'}}</td></tr>
                    <tr style="height: 50px;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;" *ngIf="SumTvaC()>0"><td style="text-align:right;border-left: 1px solid;border-top:1px solid black;" class="gauche" style="text-align: left;">TVA à 5.5 % </td><td style="text-align: right;">{{SumTvaC() | number:'1.0-2'}}</td></tr>
                    <tr style="height: 50px;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;" *ngIf="SumTvaDX()>0"><td style="text-align:right;border-left: 1px solid;border-top:1px solid black;" class="gauche" style="text-align: left;">TVA à 2.1 % </td><td style="text-align: right;">{{SumTvaDX() | number:'1.0-2'}}</td></tr>
                    <tr style="height: 50px;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;" *ngIf="TotauxTVA()>0"><td style="text-align:right;border-left: 1px solid;border-top:1px solid black;text-align: left;" class="gauche">Total TVA :</td><td>{{TotauxTVA() | number:'1.0-2'}}</td></tr>
                    <tr  style="height: 50px;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;border-bottom: 1px solid black;" class="basr grass"><td style="text-align:right;border-left: 1px solid;border-top:1px solid black;border-bottom:1px solid black;" class="gauche" style="text-align: left;">Total TTC :</td><td style="text-align: right;">{{countSTotal() | number:'1.0-2'}}</td></tr>

                    <tr *ngIf="valeur.taux>0" style="height: 50px;border:1px solid black;"><td style="text-align:right;border-left: 1px solid;border-top:1px solid black;border-left: 1px solid;" class="gauche" style="text-align: left;" >Retenue de garantie<i style="padding-left: 20px;">{{valeur.taux}}%</i></td><td style="text-align:right;">{{countRetenu() | number:'1.0-2'}}</td></tr><p>&nbsp;</p>
                    <tr  style="height: 50px;border-top:1px solid black;border-right:1px solid black;border-left: 1px solid;border-bottom: 1px solid black;" class="basr"><td style="text-align:right;border-left: 1px solid;border-top:1px solid black;border-left: 1px solid;border-bottom: 1px solid black;" lass="gauche" style="text-align: left;">Reste TTC :</td><td style="text-align:right;">{{countTotalTTC() | number:'1.0-2'}}</td></tr>



                    </tbody>
                </table>

                <p>&nbsp;</p> <p>&nbsp;</p>


            </fieldset>

            <div style="padding-top: 10px;margin-right:20px;">
                <div  style=" float: right;margin-right: 100px;">{{countTotalTTC() | number:'1.0-2'}} €</div>
                <div class="gauche"  style="border:1px solid white; float: right;margin-right:125px;">Net à payer :</div>

                <p>&nbsp;</p>
                <div><span style="border:1px solid white; float: right;margin-right:40px;">{{model.date_echeance | date:'dd-MM-yyyy'}}</span>
                </div>
                <div  style="float: right;margin-right:50px;">* Echéance au :</div>

            </div>




            <div id="pageFooter" *ngIf="print" >
                <article style="margin-top: 40px;bottom: 0;left: 0; right: 0;position: fixed;width: 100%;text-align: center;font-size:9px;" >
                    <p>{{fact.pied_page1}}</p>
                    <p>{{fact.pied_page2}}</p>
                    <p>{{fact.pied_page3}}</p>
                    <p>{{fact.pied_page4}}</p>
                    <p>{{fact.pied_page5}}</p>
                    <p>{{fact.pied_page6}}</p>
                </article>
            </div>


        </form>
    </div>

</div>
<form style="margin-bottom: 10px;">
    <button class="col-sm-offset-8 col-sm-1 btn" type="button" *ngIf="!print && droitsuser.accesfact" (click)=" imprimer()">Imprimer</button>
</form>