<div id="devis" style="border:none;" >

    <my-header *ngIf="!print" [title]='"Historique facture"' [img]="'image/menu/facturation_grand_gris.png'"></my-header>


    <body style="margin:0px;font-size: 18px;">
    <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
        <a  [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>

    </div>
    <h3>Historique facture</h3>

    <ged [gedName]="'fac'"></ged>

    </body>

</div>
