<div *ngIf="!liste.print"  class="col-sm-3 " >
    <form class="form-horizontal" >
        <h5>Recherche:</h5>

        <div class="form-group">
            <label  class="col-sm-4 control-label">Fournisseur :</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="fournisseur" name="nom"
                       [(ngModel)] = "seek.nom"
                       (ngModelChange) ="fireLoad()">
            </div>
        </div>

        <div class="form-group">
            <label  class="col-sm-4 control-label">Date :</label>
            <div class="col-sm-7">
                <input type="date" class="form-control" id="datefourn"  name="datefourn"
                       (ngModelChange) ="fireLoad()"
                       [(ngModel)] = "seek.datefourn">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-4 control-label">N° Facture :</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="n_facture"  name="n_facture"
                       (ngModelChange) ="fireLoad()"
                       [(ngModel)] = "seek.n_facture" >
            </div>
        </div>

    </form>
</div><!--fin sm 3-->