<div id="vente">

    <style type="text/css" media="print">
        @page {
            size: landscape;
        }
    </style>


    <my-header *ngIf="!print" [title]='"Produits Achats"' [img]="'image/menu/produits_grand_gris.png'"></my-header>


    <div class=" container-fluid" style="size:landscape;size: 21.0cm;">
        <div *ngIf="!print" class=" col-sm-offset-10" style="margin-top: 5px; margin-bottom:5px; font-size: 16px;">
            <a [routerLink]="['/home']" class="glyphicon glyphicon-plus-sign fleche1"></a><span class="blan1">Retour accueil</span>
        </div>
        <h3>Fiche produit achat</h3>

        <form method="POST" action="#">
            <article class="col-sm-4">

                <div style="height: 10%; width: 50%;">
                    <img *ngIf="url" [src]="url" alt="..." class="img-thumbnail col-sm-12"/>
                    <img
                            src="http://{{loc}}:4000/image/produit/{{production.id_produit}}/{{production.image_url}}"
                            alt="..." class="img-thumbnail col-sm-12"/>
                    <input type="file" ng2FileSelect [uploader]="uploaderImg" (change)="readUrl($event)"/>

                </div>
                <button *ngIf="uploaderImg && uploaderImg.queue[0] && droitsuser.modifparam" class="btn btn-default"
                        (click)="modifyProduct(); uploaderImg.queue[0].upload();"> Modifier
                </button>


                <div class="form-group col-sm-12">

                    <label class="gras col-sm-5">Libellé : </label>

                    <textarea name="libelle" [(ngModel)]="updateProduct.libelle" class="col-sm-7" rows="3"></textarea>
                </div>
                <div class="form-group col-sm-12">
                    <label class="gras col-sm-5">Référence : </label>

                    <input type="text" name="reference"
                           [(ngModel)]="updateProduct.reference" class="col-sm-7"/>
                </div>

                <div class="form-group col-sm-12">
                    <label class="col-sm-5 control-label">Catégorie : </label>
                    <select name="categorie" class="col-sm-7" [(ngModel)]="updateProduct.id_cat" #categorie="ngModel"
                            required>
                        <option *ngFor="let cat of categories" [value]="cat.libelle">{{cat.libelle}}</option>
                    </select>
                </div>


                <div class="form-group col-sm-12">
                    <label class="col-sm-5 control-label">Unité :</label>
                    <select name="unitee" class="col-sm-7" [(ngModel)]="updateProduct.unite" #unite="ngModel" required>
                        <option *ngFor="let unis of unites" [value]="unis.libelle">{{unis.libelle}}</option>
                    </select>
                </div>


                <div class="form-group col-sm-12">
                    <label class="col-sm-5 control-label">Fournisseur :</label>
                    <select name="fournisseur" class="col-sm-7" [(ngModel)]="updateProduct.id_contact"
                            #fournisseur="ngModel"
                            required>
                        <option *ngFor="let f of fournisseurs" [value]="f.nom">{{f.nom}}</option>
                    </select>
                </div>


                <div class="form-group">
                    <label class="col-sm-5 control-label">Prix achat H.T. : </label>
                    <div>
                        <input type="number" step="0.01" name="prixachat" [(ngModel)]="updateProduct.prix_achat"
                               class="col-sm-7"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">Stock : </label>
                    <div>
                        <input type="number" name="stock" [(ngModel)]="updateProduct.stock" class="col-sm-7" min="0"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">Stock minimum : </label>
                    <div>
                        <input type="number" name="stockmini" [(ngModel)]="updateProduct.stockmini" class="col-sm-7"
                               min="0"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label">Stock maximum : </label>
                    <div>
                        <input type="number" name="stockmaxi" [(ngModel)]="updateProduct.stockmaxi" class="col-sm-7"
                               min="0"/>
                    </div>
                </div>

            </article>

            <!-- description -->
            <article *ngIf="!print" class="col-sm-7 gauche">
                <div class="form-group col-sm-12 justif" style="margin-top: 10px;">
                    <span style="font-weight: bold;">Description:</span>
                </div>
                <div class="form-group" style="margin-top: 10px;">
                    <textarea name="description" class="form-control" rows="3"
                              [(ngModel)]="updateProduct.description">
                    </textarea>
                </div>
            </article>

            <!-- notes -->
            <article *ngIf="!print" class="col-sm-7 gauche">

                <div class="form-group col-sm-12 justif">
                    <span style="font-weight: bold;">Note: </span>
                </div>
                <div class="form-group" style="margin-top: 10px;">
                    <textarea type="text" name="note" class="form-control" rows="3"
                              [(ngModel)]="updateProduct.note"></textarea>
                </div>
            </article>

            <div *ngIf="!print" class="col-sm-7 gauche">
                <!-- historique de modifs -->
                <h5>Historique :</h5>
                <div class="table table-responsive" style="height: 190px;">
                    <table class="table  ">
                        <thead>
                        <tr>
                            <th>Numéro de version :</th>
                            <th>Date :</th>
                            <th>Auteur</th>
                            <th>Valeur :</th>
                            <th>Voir :</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let h of historique">
                            <td>{{h.num_version}}</td>
                            <td>{{h.date_ajout | date: 'dd/MM/yyyy'}}</td>
                            <td>{{h.firstname+ " "+h.lastname}}</td>
                            <td>{{h.prix_achat | currency:'EUR':true:'1.0-2'}}</td>
                            <td *ngIf="h.num_version != num_version">
                                <a [routerLink]="['/produitachat/' + h.id_produit + '/' + h.num_version]">
                                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                                </a>
                            </td>
                            <td *ngIf="h.num_version == num_version">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <button *ngIf="!print && droitsuser.modifproa" type="submit" [disabled]="loading"
                    class="input-sm col-sm-offset-10 col-sm-1 btn btn-default" (click)="modifyProduct();">Modifier
            </button>
        </form>


        <div *ngIf="!print" class="col-sm-12">
            <ged [gedName]="'produits'" [id]="id_product"></ged>
        </div>

    </div><!--fin container fluid-->

</div><!--fin id achat-->